<div class="price-comparaison">
  <div class="content">
    <div class="header">
      <b class="full-list-of">{{ "PRICE_COMPARE.TITLE" | translate }}</b>
      <div class="see-the-full">{{ "PRICE_COMPARE.DESCRIPTION" | translate }}</div>
    </div>
    <div class="table">
      <div class="header1">
        <div class="feature">
          <div class="menu-item1">
            <b class="free-plan">{{ "PRICE_COMPARE.BUSINESS_PLAN" | translate }}</b>
          </div>
        </div>
        <div class="pricing">
          <div class="menu-item3">
            <div class="free-month">{{ "PRICE_COMPARE.BUSINESS_PLAN_PRICE" | translate }}</div>
          </div>
        </div>
      </div>
      <div class="features">
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ "PRICE_COMPARE.FEATURES.MARKETPLACE" | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="icon">
              <div class="tailing-icon">
                <img class="vector-icon" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="feature1">
          <div class="menu-item7">
            <div class="browse-the-global">{{ "PRICE_COMPARE.FEATURES.SEARCH" | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ "PRICE_COMPARE.FEATURES.SEARCH_COUNT" | translate }}</div>
          </div>
        </div>
        <div class="feature1">
          <div class="menu-item7">
            <div class="browse-the-global">{{ "PRICE_COMPARE.FEATURES.OFFERS" | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ "PRICE_COMPARE.FEATURES.OFFERS_COUNT" | translate }}</div>
          </div>
        </div>
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ "PRICE_COMPARE.FEATURES.TRACKING" | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ "PRICE_COMPARE.FEATURES.API" | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ "PRICE_COMPARE.FEATURES.ANALYTICS" | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ "PRICE_COMPARE.FEATURES.SUPPORT" | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="icon">
              <div class="tailing-icon">
                <img class="vector-icon" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
