<div class="cant-find-a-suitable-plan">
  <div class="content">
    <div class="cant-find-a-container">
      <p class="cant-find-a">{{ "CANT_FIND.TITLE" | translate }}</p>
      <p class="cant-find-a">{{ "CANT_FIND.DESCRIPTION1" | translate }}</p>
      <p class="cant-find-a">{{ "CANT_FIND.DESCRIPTION2" | translate }}</p>
      <p class="cant-find-a">&nbsp;</p>
      <p class="cant-find-a">
        <span>{{ "CANT_FIND.QUESTION" | translate }}</span>
        <a routerLink="/contacts" class="contact-us">{{ "CANT_FIND.CONTACT" | translate }}</a>
      </p>
    </div>
  </div>
</div>
