<div class="why-us">
  <div class="heading">
    <div class="our-advantages">{{ 'ABOUT_US.OUR_ADVANTAGES' | translate }}</div>
    <b class="why-choose-our">{{ 'ABOUT_US.TITLE' | translate }}</b>
  </div>
  <div class="content">
    <div class="content1">
      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/effortless.png" />
        </div>
        <b class="effortless-booking-process-container">
          <p class="effortless">{{ 'ABOUT_US.CARD1.TITLE1' | translate }}</p>
          <p class="effortless">{{ 'ABOUT_US.CARD1.TITLE2' | translate }}</p>
        </b>
        <div class="a-streamlined-booking-container">
          <p class="effortless">{{ 'ABOUT_US.CARD1.TEXT1' | translate }}</p>
          <p class="effortless">&nbsp;</p>
          <p class="effortless">{{ 'ABOUT_US.CARD1.TEXT2' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="content1">
      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/trust.png" />
        </div>
        <b class="effortless-booking-process-container">
          <p class="effortless">{{ 'ABOUT_US.CARD2.TITLE1' | translate }}</p>
          <p class="effortless">{{ 'ABOUT_US.CARD2.TITLE2' | translate }}</p>
        </b>
        <div class="a-streamlined-booking-container">
          <p class="effortless">{{ 'ABOUT_US.CARD2.TEXT1' | translate }}</p>
          <p class="effortless">&nbsp;</p>
          <p class="effortless">{{ 'ABOUT_US.CARD2.TEXT2' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="content1">
      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/build.png" />
        </div>
        <b class="effortless-booking-process-container">
          <p class="effortless">{{ 'ABOUT_US.CARD3.TITLE1' | translate }}</p>
          <p class="effortless">{{ 'ABOUT_US.CARD3.TITLE2' | translate }}</p>
        </b>
        <div class="a-streamlined-booking-container">
          <p class="effortless">{{ 'ABOUT_US.CARD3.TEXT1' | translate }}</p>
          <p class="effortless">&nbsp;</p>
          <p class="effortless">{{ 'ABOUT_US.CARD3.TEXT2' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
