<div class="hero">
  <!-- Privacy Policy Section -->
  <div class="heading">
    <b class="privacy-policy1">{{ 'PRIVACY_POLICY.TITLE' | translate }}</b>
    <div class="last-updated-30">{{ 'PRIVACY_POLICY.LAST_UPDATED' | translate:{date: '25 August 2025'} }}</div>

    <div class="copy">
      <div class="this-privacy-policy">
        <ol class="use-of-information">

          <li>
            <b style="font-size: 25px;">1. {{ 'PRIVACY_POLICY.INTRO_TITLE' | translate }}</b>
            <p>{{ 'PRIVACY_POLICY.INTRO_TEXT' | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px;">2. {{ 'PRIVACY_POLICY.INFO_COLLECTED_TITLE' | translate }}</b>
            <p>{{ 'PRIVACY_POLICY.INFO_COLLECTED_TEXT' | translate }}</p>
            <ul class="personal-information">
              <li><b>{{ 'PRIVACY_POLICY.PERSONAL_INFO' | translate }}</b> {{ 'PRIVACY_POLICY.PERSONAL_INFO_DESC' | translate }}</li>
              <li><b>{{ 'PRIVACY_POLICY.BROWSING_INFO' | translate }}</b> {{ 'PRIVACY_POLICY.BROWSING_INFO_DESC' | translate }}</li>
            </ul>
          </li><br>

          <li>
            <b style="font-size: 25px;">3. {{ 'PRIVACY_POLICY.USE_INFO_TITLE' | translate }}</b>
            <p>{{ 'PRIVACY_POLICY.USE_INFO_TEXT' | translate }}</p>
            <ul class="personal-information">
              <li>{{ 'PRIVACY_POLICY.USE_INFO_POINT1' | translate }}</li>
              <li>{{ 'PRIVACY_POLICY.USE_INFO_POINT2' | translate }}</li>
              <li>{{ 'PRIVACY_POLICY.USE_INFO_POINT3' | translate }}</li>
              <li>{{ 'PRIVACY_POLICY.USE_INFO_POINT4' | translate }}</li>
            </ul>
          </li><br>

          <li>
            <b style="font-size: 25px;">4. {{ 'PRIVACY_POLICY.SHARING_TITLE' | translate }}</b>
            <p>{{ 'PRIVACY_POLICY.SHARING_TEXT' | translate }}</p>
            <ul class="personal-information">
              <li><b>{{ 'PRIVACY_POLICY.SHARING_PROVIDERS' | translate }}</b> {{ 'PRIVACY_POLICY.SHARING_PROVIDERS_DESC' | translate }}</li>
              <li><b>{{ 'PRIVACY_POLICY.SHARING_LEGAL' | translate }}</b> {{ 'PRIVACY_POLICY.SHARING_LEGAL_DESC' | translate }}</li>
            </ul>
          </li><br>

          <li>
            <b style="font-size: 25px;">5. {{ 'PRIVACY_POLICY.SECURITY_TITLE' | translate }}</b>
            <p>{{ 'PRIVACY_POLICY.SECURITY_TEXT' | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px;">6. {{ 'PRIVACY_POLICY.COOKIES_TITLE' | translate }}</b>
            <p>{{ 'PRIVACY_POLICY.COOKIES_TEXT' | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px;">7. {{ 'PRIVACY_POLICY.RIGHTS_TITLE' | translate }}</b>
            <p>{{ 'PRIVACY_POLICY.RIGHTS_TEXT' | translate }}</p>
            <ul class="personal-information">
              <li>{{ 'PRIVACY_POLICY.RIGHTS_ACCESS' | translate }}</li>
              <li>{{ 'PRIVACY_POLICY.RIGHTS_CORRECT' | translate }}</li>
              <li>{{ 'PRIVACY_POLICY.RIGHTS_DELETE' | translate }}</li>
              <li>{{ 'PRIVACY_POLICY.RIGHTS_OBJECT' | translate }}</li>
            </ul>
            <p>{{ 'PRIVACY_POLICY.RIGHTS_CONTACT' | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px;">8. {{ 'PRIVACY_POLICY.CHANGES_TITLE' | translate }}</b>
            <p>{{ 'PRIVACY_POLICY.CHANGES_TEXT' | translate }}</p>
          </li>

        </ol>
      </div>
    </div>
  </div>
</div>
