<div class="hero">
  <!-- Terms of Service Section -->
  <div class="heading">
    <b class="privacy-policy1">{{ 'TERMS_SERVICES.TITLE' | translate }}</b>
    <div class="last-updated-30">
      {{ 'TERMS_SERVICES.LAST_UPDATED' | translate:{ date: '25 August 2025' } }}
    </div>

    <div class="copy">
      <div class="introduction">
        <ol class="use-of-information">
          <li><b style="font-size: 25px;">1. {{ 'TERMS_SERVICES.INTRODUCTION_TITLE' | translate }}</b></li>
        </ol>
      </div>
      <div class="this-privacy-policy">
        {{ 'TERMS_SERVICES.INTRODUCTION_TEXT' | translate }}
      </div>
    </div>

    <div class="copy">
      <div class="use-of-information-container">
        <ol class="use-of-information">
          <li><b style="font-size: 25px;">2. {{ 'TERMS_SERVICES.USE_TITLE' | translate }}</b></li>
        </ol>
      </div>
      <div class="this-privacy-policy">
        {{ 'TERMS_SERVICES.USE_TEXT' | translate }}
      </div>
    </div>

    <div class="copy">
      <div class="use-of-information-container">
        <ol class="use-of-information">
          <li><b style="font-size: 25px;">3. {{ 'TERMS_SERVICES.CONTENT_TITLE' | translate }}</b></li>
        </ol>
      </div>
      <div class="this-privacy-policy">
        {{ 'TERMS_SERVICES.CONTENT_TEXT' | translate }}
      </div>
    </div>

    <div class="copy">
      <div class="use-of-information-container">
        <ol class="use-of-information">
          <li><b style="font-size: 25px;">4. {{ 'TERMS_SERVICES.ACCURACY_TITLE' | translate }}</b></li>
        </ol>
      </div>
      <div class="this-privacy-policy">
        {{ 'TERMS_SERVICES.ACCURACY_TEXT' | translate }}
      </div>
    </div>

    <div class="copy">
      <div class="use-of-information-container">
        <ol class="use-of-information">
          <li><b style="font-size: 25px;">5. {{ 'TERMS_SERVICES.LINKS_TITLE' | translate }}</b></li>
        </ol>
      </div>
      <div class="this-privacy-policy">
        {{ 'TERMS_SERVICES.LINKS_TEXT' | translate }}
      </div>
    </div>

    <div class="copy">
      <div class="use-of-information-container">
        <ol class="use-of-information">
          <li><b style="font-size: 25px;">6. {{ 'TERMS_SERVICES.LIABILITY_TITLE' | translate }}</b></li>
        </ol>
      </div>
      <div class="this-privacy-policy">
        {{ 'TERMS_SERVICES.LIABILITY_TEXT' | translate }}
      </div>
    </div>

    <div class="copy">
      <div class="use-of-information-container">
        <ol class="use-of-information">
          <li><b style="font-size: 25px;">7. {{ 'TERMS_SERVICES.MODIFICATIONS_TITLE' | translate }}</b></li>
        </ol>
      </div>
      <div class="this-privacy-policy">
        {{ 'TERMS_SERVICES.MODIFICATIONS_TEXT' | translate }}
      </div>
    </div>

    <div class="copy">
      <div class="use-of-information-container">
        <ol class="use-of-information">
          <li><b style="font-size: 25px;">8. {{ 'TERMS_SERVICES.LAW_TITLE' | translate }}</b></li>
        </ol>
      </div>
      <div class="this-privacy-policy">
        {{ 'TERMS_SERVICES.LAW_TEXT' | translate }}
      </div>
    </div>

    <div class="copy">
      <div class="use-of-information-container">
        <ol class="use-of-information">
          <li><b style="font-size: 25px;">9. {{ 'TERMS_SERVICES.CONTACT_TITLE' | translate }}</b></li>
        </ol>
      </div>
      <div class="this-privacy-policy">
        {{ 'TERMS_SERVICES.CONTACT_TEXT' | translate }}
      </div>
    </div>
  </div>
</div>
