<div class="search-results">
  <div class="header">
    <div class="ctasecondary">
      <div class="icon">
        <img class="vector-icon" alt="" src="assets/images/arrow-right-blue.png" />
      </div>
      <div class="back">{{ 'WISHLIST_BOOKING.BACK' | translate }}</div>
    </div>
    <div class="wishlists">{{ 'WISHLIST_BOOKING.TITLE' | translate }}</div>
  </div>

  <div class="content">
    <div class="header1">
      <div class="tabs">
        <div class="tab-item">
          <div class="icon">
            <img class="vector-icon1" alt="" src="assets/images/wallet-monay.png" />
          </div>
          <div class="for-brokers">{{ 'WISHLIST_BOOKING.PRE_BOOKINGS' | translate }} (21)</div>
        </div>
        <div class="tab-item1">
          <div class="icon">
            <img class="vector-icon2" alt="" src="assets/images/file-quote.png" />
          </div>
          <div class="for-brokers">{{ 'WISHLIST_BOOKING.QUOTES' | translate }} (10)</div>
        </div>
        <div class="tab-item1">
          <div class="icon">
            <img class="vector-icon3" alt="" src="assets/images/calendar-search.png" />
          </div>
          <div class="for-brokers">{{ 'WISHLIST_BOOKING.SCHEDULES' | translate }} (5)</div>
        </div>
      </div>

      <div class="date-field">
        <div class="text-field">
          <div class="icon">
            <img class="vector-icon8" alt="" src="assets/images/date-blue.png" />
          </div>
          <select type="date" class="may">
            <option value="">{{ 'WISHLIST_BOOKING.ALL_TIME' | translate }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="right-column">
      <div class="saved-today">{{ 'WISHLIST_BOOKING.SAVED_TODAY' | translate }}</div>
      <!-- Example card -->
      <div class="trip-card">
        <div class="top-bar">
          <div class="trip-category">
            <div class="icon">
              <img class="vector-icon9" alt="" src="assets/images/ship-blue.png" />
            </div>
            <div class="marine-shipping">{{ 'WISHLIST_BOOKING.MARINE' | translate }}</div>
          </div>
          <div class="quick-actions">
            <div class="icon">
              <img class="vector-icon10" alt="" src="assets/images/past-blue.png" />
            </div>
            <div class="icon">
              <img class="vector-icon11" alt="" src="assets/images/heart-blue.png" />
            </div>
          </div>
        </div>
        <div class="content1">
          <div class="header1">
            <div class="quick-actions">
              <img class="shipping-partner-icon" alt="" src="assets/images/Maersk.png" />
              <div class="marine-shipping">{{ 'WISHLIST_BOOKING.ID' | translate }}: 43255464233</div>
            </div>
            <div class="shipping-info">
              <div class="info">
                <div class="icon">
                  <img class="vector-icon9" alt="" src="assets/images/time-blue.png" />
                </div>
                <div class="marine-shipping">19h</div>
              </div>
              <div class="info">
                <div class="icon">
                  <img class="vector-icon13" alt="" src="assets/images/container-blue.png" />
                </div>
                <div class="marine-shipping">{{ 'WISHLIST_BOOKING.LESS_CONTAINER' | translate }}</div>
              </div>
            </div>
          </div>
          <div class="content2">
            <div class="departure">
              <div class="departure1">
                <div class="flags">
                  <img class="vector-icon15" alt="" src="assets/images/german.png" />
                </div>
                <div class="casablanca-port-ma">Casablanca Port, MA</div>
              </div>
              <div class="div36">11/06/2025 - 15:00</div>
            </div>
            <div class="road">
              <div class="marine-shipping">{{ 'WISHLIST_BOOKING.TRANSIT' | translate }}</div>
              <div class="ellipse-parent">
                <div class="ellipse"></div>
                <div class="frame-child"></div>
                <div class="ellipse1"></div>
                <div class="frame-child"></div>
                <div class="ellipse"></div>
              </div>
              <div class="h1">3h</div>
            </div>
            <div class="arrival">
              <div class="departure1">
                <div class="flags1">
                  <img class="vector-icon16" alt="" src="assets/images/Portugal.png" />
                </div>
                <div class="casablanca-port-ma">Mallorca, SPA</div>
              </div>
              <div class="div36">11/05/2025 - 09:10</div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="footer">
            <div class="quick-actions">
              <div class="ctasecondary1">
                <div class="back">{{ 'WISHLIST_BOOKING.CHAT' | translate }}</div>
              </div>
              <div class="ctasecondary2">
                <div class="back">{{ 'WISHLIST_BOOKING.VIEW_DETAILS' | translate }}</div>
              </div>
            </div>
            <div class="pricing">
              <div class="casablanca-port-ma">$1,523.00</div>
              <div class="ctaprimary">
                <div class="back">{{ 'WISHLIST_BOOKING.BOOK_NOW' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pagination">
        <div class="actions4">
          <div class="ctasecondary9">
            <div class="back">{{ 'WISHLIST_BOOKING.PREVIOUS' | translate }}</div>
          </div>
          <div class="pages">
            <div class="page"><div class="back">1</div></div>
            <div class="page1"><div class="back">2</div></div>
            <div class="page1"><div class="back">3</div></div>
          </div>
          <div class="ctasecondary10">
            <div class="back">{{ 'WISHLIST_BOOKING.NEXT' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-faq></app-faq>
