<div class="content">
  <div class="header">
    <div class="ctasecondary">
      <div class="icon">
        <img
          class="vector-icon"
          alt=""
          src="assets/images/arrow-right-blue.png"
        />
      </div>
      <div class="back">{{ "MANAGE_SUBSCRIPTION.BACK" | translate }}</div>
    </div>
    <div class="manage-subscription">
      {{ "MANAGE_SUBSCRIPTION.MANAGE" | translate }}
    </div>
  </div>

  <div class="plans">
    <!-- Free Plan -->
    <div class="pricing-card">
      <div class="frame-parent">
        <div class="free-plan-parent">
          <b class="free-plan">{{ "MANAGE_SUBSCRIPTION.FREE_PLAN" | translate }}</b>
          <div class="perfect-for-individuals">
            {{ "MANAGE_SUBSCRIPTION.FREE_DESC" | translate }}
          </div>
        </div>
        <b class="month">{{ "MANAGE_SUBSCRIPTION.PRICE_FREE" | translate }}</b>
      </div>
      <div class="frame-group">
        <div class="vector-parent">
          <img class="vector-icon1" alt="" src="assets/images/container.png" />
          <div class="browse-the-global">
            {{ "MANAGE_SUBSCRIPTION.FEATURES.MARKETPLACE" | translate }}
          </div>
        </div>
        <div class="vector-parent">
          <img class="vector-icon1" alt="" src="assets/images/container.png" />
          <div class="browse-the-global">
            {{ "MANAGE_SUBSCRIPTION.FEATURES.COMPARE" | translate }}
          </div>
        </div>
        <div class="vector-parent">
          <img class="vector-icon1" alt="" src="assets/images/container.png" />
          <div class="browse-the-global">
            {{ "MANAGE_SUBSCRIPTION.FEATURES.OFFERS" | translate }}
          </div>
        </div>
      </div>
      <div class="ctaprimary">
        <div class="back">{{ "MANAGE_SUBSCRIPTION.CURRENT" | translate }}</div>
      </div>
    </div>

    <!-- Business Plan -->
    <div class="pricing-card1">
      <div class="frame-parent">
        <div class="free-plan-parent">
          <b class="free-plan">{{
            "MANAGE_SUBSCRIPTION.BUSINESS_PLAN" | translate
          }}</b>
          <div class="perfect-for-individuals">
            {{ "MANAGE_SUBSCRIPTION.BUSINESS_DESC" | translate }}
          </div>
        </div>
        <b class="month">{{ "MANAGE_SUBSCRIPTION.PRICE_CUSTOM" | translate }}</b>
      </div>
      <div class="frame-group">
        <div class="vector-parent">
          <img class="vector-icon1" alt="" src="assets/images/container.png" />
          <div class="browse-the-global">
            {{ "MANAGE_SUBSCRIPTION.FEATURES.REALTIME" | translate }}
          </div>
        </div>
        <div class="vector-parent">
          <img class="vector-icon1" alt="" src="assets/images/container.png" />
          <div class="browse-the-global">
            {{ "MANAGE_SUBSCRIPTION.FEATURES.API" | translate }}
          </div>
        </div>
        <div class="vector-parent">
          <img class="vector-icon1" alt="" src="assets/images/container.png" />
          <div class="browse-the-global">
            {{ "MANAGE_SUBSCRIPTION.FEATURES.ANALYTICS" | translate }}
          </div>
        </div>
        <div class="vector-parent">
          <img class="vector-icon1" alt="" src="assets/images/container.png" />
          <div class="browse-the-global">
            {{ "MANAGE_SUBSCRIPTION.FEATURES.SUPPORT" | translate }}
          </div>
        </div>
      </div>
      <div class="ctaprimary1">
        <div class="back">{{ "MANAGE_SUBSCRIPTION.REQUEST_QUOTE" | translate }}</div>
        <div class="icon">
          <img class="vector-icon8" alt="" src="assets/images/lettre.png" />
        </div>
      </div>
    </div>
  </div>
  <div class="payment-history">
    <div class="header1">
      <div class="billing-history">
        {{ "MANAGE_SUBSCRIPTION.BILLING.TITLE" | translate }}
      </div>
      <div class="actions">
        <div class="input-field">
          <div class="text-field">
            <div class="icon">
              <img
                class="vector-icon9"
                alt=""
                src="assets/images/search-blue.png"
              />
            </div>
            <div class="eg-casablanca-portma">
              {{ "MANAGE_SUBSCRIPTION.BILLING.SEARCH" | translate }}
            </div>
          </div>
        </div>
        <div class="filters">
          <div class="filters1">
            {{ "MANAGE_SUBSCRIPTION.BILLING.FILTERS" | translate }}
          </div>
          <div class="icon2">
            <img class="vector-icon10" alt="" src="assets/images/filters.png" />
          </div>
        </div>
        <div class="filters">
          <div class="filters1">
            {{ "MANAGE_SUBSCRIPTION.BILLING.EXPORT" | translate }}
          </div>
          <div class="icon2">
            <img class="vector-icon9" alt="" src="assets/images/download.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="table">
      <div class="table-header">
        <div class="plan">
          {{ "MANAGE_SUBSCRIPTION.BILLING.TABLE.PLAN" | translate }}
        </div>
        <div class="amount">
          {{ "MANAGE_SUBSCRIPTION.BILLING.TABLE.AMOUNT" | translate }}
        </div>
        <div class="amount">
          {{ "MANAGE_SUBSCRIPTION.BILLING.TABLE.PURCHASE" | translate }}
        </div>
        <div class="amount">
          {{ "MANAGE_SUBSCRIPTION.BILLING.TABLE.END" | translate }}
        </div>
        <div class="status">
          {{ "MANAGE_SUBSCRIPTION.BILLING.TABLE.STATUS" | translate }}
        </div>
        <div class="actions1">
          {{ "MANAGE_SUBSCRIPTION.BILLING.TABLE.ACTIONS" | translate }}
        </div>
      </div>
      <div class="table-items">
        <div class="table-item">
          <div class="pro-plan-">Pro Plan - Jun 2025</div>
          <div class="div">$125.00</div>
          <div class="div1">01/06/2025</div>
          <div class="div1">31/06/2025</div>
          <div class="trip-category">
            <div class="icon">
              <img
                class="vector-icon12"
                alt=""
                src="assets/images/time-orange.png"
              />
            </div>
            <div class="pending">Pending</div>
          </div>
          <div class="actions2">
            <div class="icon">
              <img
                class="vector-icon9"
                alt=""
                src="assets/images/download.png"
              />
            </div>
            <div class="icon">
              <img class="vector-icon14" alt="" src="assets/images/eye.png" />
            </div>
          </div>
        </div>
        <div class="table-item">
          <div class="pro-plan-">Pro Plan - Mai 2025</div>
          <div class="div">$125.00</div>
          <div class="div1">02/05/2025</div>
          <div class="div1">31/05/2025</div>
          <div class="trip-category1">
            <div class="icon">
              <img
                class="vector-icon15"
                alt=""
                src="assets/images/valide-green.png"
              />
            </div>
            <div class="pending">Paid</div>
          </div>
          <div class="actions2">
            <div class="icon">
              <img
                class="vector-icon9"
                alt=""
                src="assets/images/download.png"
              />
            </div>
            <div class="icon">
              <img class="vector-icon14" alt="" src="assets/images/eye.png" />
            </div>
          </div>
        </div>
        <div class="table-item">
          <div class="pro-plan-">Free Plan - Apr 2025</div>
          <div class="div">$0.00</div>
          <div class="div1">01/06/2025</div>
          <div class="div1">31/06/2025</div>
          <div class="trip-category1">
            <div class="icon">
              <img
                class="vector-icon15"
                alt=""
                src="assets/images/valide-green.png"
              />
            </div>
            <div class="pending">Paid</div>
          </div>
          <div class="actions2">
            <div class="icon">
              <img
                class="vector-icon9"
                alt=""
                src="assets/images/download.png"
              />
            </div>
            <div class="icon">
              <img class="vector-icon14" alt="" src="assets/images/eye.png" />
            </div>
          </div>
        </div>
        <div class="table-item">
          <div class="pro-plan-">Free Plan - Mar 2025</div>
          <div class="div">$0.00</div>
          <div class="div1">01/06/2025</div>
          <div class="div1">31/06/2025</div>
          <div class="trip-category1">
            <div class="icon">
              <img
                class="vector-icon15"
                alt=""
                src="assets/images/valide-green.png"
              />
            </div>
            <div class="pending">Paid</div>
          </div>
          <div class="actions2">
            <div class="icon">
              <img
                class="vector-icon9"
                alt=""
                src="assets/images/download.png"
              />
            </div>
            <div class="icon">
              <img class="vector-icon14" alt="" src="assets/images/eye.png" />
            </div>
          </div>
        </div>
        <div class="table-item">
          <div class="pro-plan-">Free Plan - Feb 2025</div>
          <div class="div">$0.00</div>
          <div class="div1">01/06/2025</div>
          <div class="div1">31/06/2025</div>
          <div class="trip-category1">
            <div class="icon">
              <img
                class="vector-icon15"
                alt=""
                src="assets/images/time-orange.png"
              />
            </div>
            <div class="pending">Paid</div>
          </div>
          <div class="actions2">
            <div class="icon">
              <img
                class="vector-icon9"
                alt=""
                src="assets/images/download.png"
              />
            </div>
            <div class="icon">
              <img class="vector-icon14" alt="" src="assets/images/eye.png" />
            </div>
          </div>
        </div>
        <div class="table-item">
          <div class="pro-plan-">Free Plan - Jan 2025</div>
          <div class="div">$0.00</div>
          <div class="div1">01/06/2025</div>
          <div class="div1">31/06/2025</div>
          <div class="trip-category1">
            <div class="icon">
              <img
                class="vector-icon15"
                alt=""
                src="assets/images/time-orange.png"
              />
            </div>
            <div class="pending">Paid</div>
          </div>
          <div class="actions2">
            <div class="icon">
              <img
                class="vector-icon9"
                alt=""
                src="assets/images/download.png"
              />
            </div>
            <div class="icon">
              <img class="vector-icon14" alt="" src="assets/images/eye.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
