.vector-icon {
  	position: absolute;
  	height: 83.13%;
  	width: 83.13%;
  	top: 8.33%;
  	right: 8.54%;
  	bottom: 8.54%;
  	left: 8.33%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.icon {
  	width: 16px;
  	position: relative;
  	height: 16px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.pending {
  	position: relative;
  	letter-spacing: -0.18px;
  	line-height: 19px;
  	font-weight: 500;
}
.trip-category {
  	border-radius: 4px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	gap: 4px;
  	max-width: 110px;
  	color: #ff6600;
}
.header {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	gap: 0px;
}
.vector-icon1 {
  	position: absolute;
  	height: 30%;
  	width: 22.86%;
  	top: 34.93%;
  	right: 38.47%;
  	bottom: 35.07%;
  	left: 38.68%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.flags {
  	width: 21px;
  	position: relative;
  	background-color: #af010d;
  	height: 15px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.casablanca-port-ma {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 110%;
  	font-weight: 500;
}
.departure1 {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 8px;
}
.departure {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.ellipse {
  	width: 8px;
  	position: relative;
  	border-radius: 50%;
  	background-color: #0739a4;
  	height: 8px;
  	opacity: 0;
}
.frame-child {
  	width: 168px;
  	position: relative;
  	background-color: rgba(7, 57, 164, 0.12);
  	height: 2px;
  	overflow: hidden;
  	flex-shrink: 0;
  	opacity: 0;
}
.transit {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 20px;
}
.frame-item {
  	width: 150px;
  	position: relative;
  	background-color: rgba(7, 57, 164, 0.12);
  	height: 2px;
  	overflow: hidden;
  	flex-shrink: 0;
  	opacity: 0;
}
.frame-inner {
  	width: 57px;
  	position: relative;
  	background-color: rgba(7, 57, 164, 0.12);
  	height: 2px;
  	overflow: hidden;
  	flex-shrink: 0;
  	opacity: 0;
}
.ellipse-parent {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 4px;
}
.ellipse2 {
  	width: 8px;
  	position: relative;
  	border-radius: 50%;
  	background-color: #0739a4;
  	height: 8px;
}
.frame-div {
  	flex: 1;
  	position: relative;
  	background-color: rgba(7, 57, 164, 0.12);
  	height: 2px;
  	overflow: hidden;
}
.ellipse3 {
  	width: 8px;
  	position: relative;
  	border-radius: 50%;
  	background-color: #ff6701;
  	height: 8px;
}
.frame-child3 {
  	width: 146px;
  	position: relative;
  	background-color: rgba(7, 57, 164, 0.12);
  	height: 2px;
  	overflow: hidden;
  	flex-shrink: 0;
  	opacity: 0;
}
.frame-child4 {
  	width: 108px;
  	position: relative;
  	background-color: rgba(7, 57, 164, 0.12);
  	height: 2px;
  	overflow: hidden;
  	flex-shrink: 0;
  	opacity: 0;
}
.frame-child5 {
  	width: 66px;
  	position: relative;
  	background-color: rgba(7, 57, 164, 0.12);
  	height: 2px;
  	overflow: hidden;
  	flex-shrink: 0;
  	opacity: 0;
}
.ellipse-container {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 4px;
  	color: #909090;
}
.road {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	text-align: left;
  	font-size: 12px;
  	color: #ff6701;
}
.vector-icon2 {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon3 {
  	position: absolute;
  	height: 46.67%;
  	width: 100%;
  	top: 26.67%;
  	right: 0%;
  	bottom: 26.67%;
  	left: 0%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon4 {
  	position: absolute;
  	height: 34.67%;
  	width: 23.81%;
  	top: 31.79%;
  	right: 57.14%;
  	bottom: 33.54%;
  	left: 19.05%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon5 {
  	position: absolute;
  	height: 20%;
  	width: 33.33%;
  	top: 46.67%;
  	right: 52.38%;
  	bottom: 33.33%;
  	left: 14.29%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon6 {
  	position: absolute;
  	height: 6.67%;
  	width: 33.33%;
  	top: 60%;
  	right: 52.38%;
  	bottom: 33.33%;
  	left: 14.29%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon7 {
  	position: absolute;
  	height: 6.67%;
  	width: 33.33%;
  	top: 40%;
  	right: 52.38%;
  	bottom: 53.33%;
  	left: 14.29%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon8 {
  	position: absolute;
  	height: 23.33%;
  	width: 14.29%;
  	top: 40%;
  	right: 61.9%;
  	bottom: 36.67%;
  	left: 23.81%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon9 {
  	position: absolute;
  	height: 10%;
  	width: 4.76%;
  	top: 40%;
  	right: 61.9%;
  	bottom: 50%;
  	left: 33.33%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon10 {
  	position: absolute;
  	height: 10%;
  	width: 4.76%;
  	top: 53.33%;
  	right: 71.43%;
  	bottom: 36.67%;
  	left: 23.81%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon11 {
  	position: absolute;
  	height: 6.67%;
  	width: 14.29%;
  	top: 33.33%;
  	right: 61.9%;
  	bottom: 60%;
  	left: 23.81%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon12 {
  	position: absolute;
  	height: 6.67%;
  	width: 4.76%;
  	top: 26.67%;
  	right: 66.67%;
  	bottom: 66.67%;
  	left: 28.57%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.flags1 {
  	width: 21px;
  	position: relative;
  	background-color: #f93939;
  	height: 15px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.arrival {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-end;
  	justify-content: flex-start;
}
.trip {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
  	text-align: right;
  	color: #000;
}
.separator {
  	align-self: stretch;
  	position: relative;
  	background-color: #eef2fb;
  	height: 1px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.header1 {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.marine-shipping {
  	position: relative;
  	letter-spacing: -0.12px;
  	line-height: 14px;
  	font-weight: 500;
}
.trip-category1 {
  	width: 100%;
  	border-radius: 4px;
  	background-color: #e8efff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	box-sizing: border-box;
  	gap: 4px;
  	max-width: 132px;
  	font-size: 12px;
  	color: #0739a4;
}
.transport-mode {
  	width: 193px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
  	min-width: 193px;
}
.product {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 18px;
  	font-weight: 500;
}
.vector-icon14 {
  	position: absolute;
  	height: 83.13%;
  	width: 83.13%;
  	top: 8.33%;
  	right: 8.51%;
  	bottom: 8.54%;
  	left: 8.37%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.animal-animal {
  	flex: 1;
  	position: relative;
  	letter-spacing: -0.16px;
  	line-height: 17px;
    border: none;
    background-color: transparent;
}
.trip-category2 {
  	align-self: stretch;
  	height: 32px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 4px;
  	color: #03133d;
}
.vector-icon15 {
  	position: absolute;
  	height: 83.13%;
  	width: 75%;
  	top: 8.33%;
  	right: 12.5%;
  	bottom: 8.54%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.trip-category3 {
  	height: 32px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 4px;
  	max-width: 120px;
  	color: #03133d;
}
.vector-icon16 {
  	position: absolute;
  	height: 82.5%;
  	width: 83.13%;
  	top: 8.65%;
  	right: 8.54%;
  	bottom: 8.85%;
  	left: 8.33%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon17 {
  	position: absolute;
  	height: 75%;
  	width: 75%;
  	top: 12.5%;
  	right: 12.5%;
  	bottom: 12.5%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon18 {
  	position: absolute;
  	height: 79.38%;
  	width: 83.13%;
  	top: 8.33%;
  	right: 8.4%;
  	bottom: 12.29%;
  	left: 8.48%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.kg {
  	position: relative;
  	letter-spacing: -0.16px;
  	line-height: 17px;
  	color: #909090;
  	text-align: right;
}


.vector-icon19 {
  	position: absolute;
  	height: 83.13%;
  	width: 66.88%;
  	top: 8.33%;
  	right: 16.46%;
  	bottom: 8.54%;
  	left: 16.67%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.insurance {
  	position: relative;
  	letter-spacing: -0.16px;
  	line-height: 17px;
    border: none;
    background-color: transparent;
}
.div3 {
  	position: relative;
  	letter-spacing: -0.16px;
  	line-height: 17px;
  	color: #959eb1;
}
.left-wrapper {
  	align-self: stretch;
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	padding: 12px;
  	gap: 24px;
}
.map-icon {
  	width: 300px;
  	position: relative;
  	border-radius: 4px;
  	height: 300px;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 12px;
  	font-size: 14px;
  	color: #959eb1;
}
.rate-breakdown {
  	align-self: stretch;
  	border-radius: 6px;
  	border: 1px solid #eef2fb;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 12px;
  	gap: 12px;
}
.trip-content {
  	align-self: stretch;
  	overflow-y: auto;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	color: #041b53;
}
.separator1 {
  	align-self: stretch;
  	position: relative;
  	background-color: rgba(7, 57, 164, 0.08);
  	height: 1px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.text-placeholder {
  	position: relative;
  	letter-spacing: -0.16px;
  	line-height: 17px;
  	font-weight: 500;
}
.button {
  	border-radius: 4px;
  	background-color: #fafbfd;
  	border: 1px solid #eef2fb;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
}
.button1 {
  	border-radius: 4px;
  	background-color: #fef2f2;
  	border: 1px solid #fee2e2;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	gap: 8px;
  	color: #ef4444;
}
.actions {
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
}
.vector-icon21 {
  	position: absolute;
  	height: 82.5%;
  	width: 83.13%;
  	top: 8.61%;
  	right: 8.31%;
  	bottom: 8.89%;
  	left: 8.57%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.button2 {
  	border-radius: 4px;
  	background-color: #fafbfd;
  	border: 1px solid #0739a4;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	gap: 8px;
}
.vector-icon22 {
  	position: absolute;
  	height: 79.38%;
  	width: 79.38%;
  	top: 12.47%;
  	right: 12.29%;
  	bottom: 8.16%;
  	left: 8.33%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.footer {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: space-between;
  	gap: 0px;
  	font-size: 14px;
}
.trip-card {
  	align-self: stretch;
  	border-radius: 0px 0px 4px 4px;
  	background-color: #fff;
  	border-top: 1px solid rgba(7, 57, 164, 0.12);
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 16px;
  	gap: 12px;
  	min-width: 564px;
  	min-height: 179px;
}
.quote-details {
  	width: 100%;
  	position: relative;
  	border-radius: 4px;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	min-width: 564px;
  	text-align: left;
  	font-size: 16px;
  	color: #0739a4;
  	font-family: 'Helvetica Neue', sans-serif;
}
/* -------------------------Basic modal styles ----------------------------*/
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 70%;
  width: 100%;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
