<!-- start page content wrapper-->
<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">
    <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">LISTE DES FAQS</div>
      <div class="ms-auto">
        <div class="btn-group">
          <a
            routerLink="/add-faqs"
            routerLinkActive="active"
            class="btn btn-sm btn-primary px-5"
            title="Nouveau"
          >
            + Nouveau</a
          >
        </div>
      </div>
    </div>
    <hr />

    <div class="card">
      <div class="card-body">
        <div class="table-responsive mt-3">
          <table datatable [dtOptions]="dtOptions" class="table align-middle">
            <thead style="background-color: #2471a3; color: white">
              <tr>
                <th>Nom et Prénom</th>
                <th>Type FAQ</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
  <!-- end page content-->
</div>
