.vector-icon {
  position: absolute;
  height: 58.13%;
  width: 58.13%;
  top: 20.83%;
  right: 21.04%;
  bottom: 21.04%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.back-to-search {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: #0739a4;
  font-size: 15px;
}
.ctasecondary {
  border-radius: 4px;
  background-color: #eef2fb;
  border: 1px solid #d6e0f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  gap: 8px;
  cursor: pointer;
}
.book-a-container {
  position: relative;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 500;
  color: #05256e;
  display: inline-block;
  max-width: 1440px;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.vector-icon1 {
  position: absolute;
  height: 6.25%;
  width: 58.13%;
  top: 50%;
  right: 21.04%;
  bottom: 43.75%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  position: absolute;
  height: 30%;
  width: 22.86%;
  top: 34.93%;
  right: 38.47%;
  bottom: 35.07%;
  left: 38.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.flags {
  width: 21px;
  position: relative;
  background-color: #af010d;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
}
.casablanca-port-ma {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 500;
}
.departure2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.div {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: #909090;
  text-align: left;
}
.departure1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}
.ellipse {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #0739a4;
  height: 8px;
}
.departure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.timeline-child {
  width: 1px;
  flex: 1;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  overflow: hidden;
  z-index: 0;
}
.vector-icon3 {
  position: absolute;
  height: 83.13%;
  width: 83.13%;
  top: 8.33%;
  right: 8.54%;
  bottom: 8.54%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.marine-shipping {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
}
.trip-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.km-3-days {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 14px;
  font-weight: 500;
  color: #000;
}
.header2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.content3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  color: #0739a4;
}
.details {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 24.5px);
  left: 20px;
  border-radius: 4px;
  background-color: #eef2fb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 8px;
  gap: 4px;
  z-index: 1;
}
.timeline {
  width: 300px;
  height: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  margin-left: 290px;
}
.ellipse1 {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #ff6701;
  height: 8px;
}
.transit1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: #ff6701;
}
.transit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #909090;
}
.timeline-item {
  align-self: stretch;
  width: 1px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.details1 {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 25.5px);
  right: 17px;
  border-radius: 4px;
  background-color: #eef2fb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 8px;
  gap: 4px;
  z-index: 1;
}
.timeline1 {
  width: 300px;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
  margin-right: 290px;
}
.timeline2 {
  width: 8px;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}
.trip-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.road {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 12px;
  color: #7d9fec;
}
.vector-icon6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon7 {
  position: absolute;
  height: 46.67%;
  width: 100%;
  top: 26.67%;
  right: 0%;
  bottom: 26.67%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon8 {
  position: absolute;
  height: 34.67%;
  width: 23.81%;
  top: 31.79%;
  right: 57.14%;
  bottom: 33.54%;
  left: 19.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon9 {
  position: absolute;
  height: 20%;
  width: 33.33%;
  top: 46.67%;
  right: 52.38%;
  bottom: 33.33%;
  left: 14.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10 {
  position: absolute;
  height: 6.67%;
  width: 33.33%;
  top: 60%;
  right: 52.38%;
  bottom: 33.33%;
  left: 14.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11 {
  position: absolute;
  height: 6.67%;
  width: 33.33%;
  top: 40%;
  right: 52.38%;
  bottom: 53.33%;
  left: 14.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon12 {
  position: absolute;
  height: 23.33%;
  width: 14.29%;
  top: 40%;
  right: 61.9%;
  bottom: 36.67%;
  left: 23.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon13 {
  position: absolute;
  height: 10%;
  width: 4.76%;
  top: 40%;
  right: 61.9%;
  bottom: 50%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon14 {
  position: absolute;
  height: 10%;
  width: 4.76%;
  top: 53.33%;
  right: 71.43%;
  bottom: 36.67%;
  left: 23.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon15 {
  position: absolute;
  height: 6.67%;
  width: 14.29%;
  top: 33.33%;
  right: 61.9%;
  bottom: 60%;
  left: 23.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon16 {
  position: absolute;
  height: 6.67%;
  width: 4.76%;
  top: 26.67%;
  right: 66.67%;
  bottom: 66.67%;
  left: 28.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.flags1 {
  width: 21px;
  position: relative;
  background-color: #f93939;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
}
.arrival {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.content2 {
  width: 538px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  color: #000;
}
.rate-breakdown {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #eef2fb;
  box-sizing: border-box;
  height: 398px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  gap: 12px;
}
.terms-and-additional {
  position: relative;
  letter-spacing: -0.18px;
  line-height: 19px;
  font-weight: 500;
}
.terms-and-conditions {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #eef2fb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
}
.click-here {
  text-decoration: underline;
  color: #ff6600;
}
.you-want-to-container {
  position: relative;
  letter-spacing: -0.14px;
  line-height: 16px;
  font-weight: 500;
}
.you-want-to-edit-your-profile-wrapper {
  border-radius: 4px;
  background-color: #fff8f2;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding: 8px;
  font-size: 13px;
}
.input-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.header7 {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.eg-casablanca-portma {
  flex: 1;
  position: relative;
  letter-spacing: -0.16px;
  line-height: 17px;
  border: none;
}
.text-field {
  align-self: stretch;
  background-color: #ededed;
  border-bottom: 1px solid #d6e0f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  opacity: 0.48;
  color: #909090;
}
.input-field {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  min-width: 397px;
}
.vector-icon19 {
  position: absolute;
  height: 83.13%;
  width: 83.13%;
  top: 8.33%;
  right: 8.08%;
  bottom: 8.54%;
  left: 8.8%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text-field2 {
  align-self: stretch;
  background-color: #fff;
  border-bottom: 1px solid #d6e0f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
  color: #909090;
}
.vector-icon21 {
  position: absolute;
  height: 75%;
  width: 83.13%;
  top: 8.33%;
  right: 8.54%;
  bottom: 16.67%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  gap: 12px;
  font-size: 14px;
  color: #03133d;
}
.terms-conditions {
  text-decoration: underline;
  font-weight: 500;
  color: #ff6600;
}
.by-submitting-this-container {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 14px;
  color: #909090;
}
.contact-details {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #eef2fb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 12px;
}
.column {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.order-summary {
  position: relative;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 500;
  z-index: 9;
}
.id {
  position: relative;
  letter-spacing: -0.16px;
  line-height: 17px;
}
.div5 {
  position: relative;
  letter-spacing: -0.16px;
  line-height: 17px;
  font-weight: 500;
  color: #03133d;
}
.detail {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}
.trip-category3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #03133d;
}
.full-container-load {
  position: relative;
  letter-spacing: -0.16px;
  line-height: 17px;
  font-weight: 500;
}
.trip-category4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #03133d;
}
.vector-icon23 {
  position: absolute;
  height: 8.33%;
  width: 58.33%;
  top: 50%;
  right: 20.83%;
  bottom: 41.67%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon8 {
  width: 12px;
  position: relative;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}
.notification {
  border-radius: 4px;
  background-color: #eef2fb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  opacity: 0.32;
}
.vector-icon24 {
  position: absolute;
  height: 82.5%;
  width: 83.13%;
  top: 8.65%;
  right: 8.54%;
  bottom: 8.85%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon25 {
  position: absolute;
  height: 58.33%;
  width: 58.33%;
  top: 20.83%;
  right: 20.83%;
  bottom: 20.83%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notification1 {
  border-radius: 4px;
  background-color: #eef2fb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.notification-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #03133d;
}
.shipping-partner-icon {
  width: 96px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}
.content8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  z-index: 8;
  color: #909090;
}
.separator {
  align-self: stretch;
  position: relative;
  background-color: #eef2fb;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 7;
}
.detail9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  font-size: 14px;
  color: #909090;
}
.price-details {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  z-index: 6;
  font-size: 16px;
}
.separator1 {
  align-self: stretch;
  position: relative;
  background-color: #eef2fb;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 5;
}
.text-field5 {
  flex: 1;
  background-color: #fff;
  border-bottom: 1px solid #d6e0f8;
  box-sizing: border-box;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}
.button {
  border-radius: 4px;
  background-color: #fff8f2;
  border: 1px solid #ffeedf;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #ff6600;
}
.text-field-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 10px;
  z-index: 4;
  color: #909090;
}
.separator2 {
  align-self: stretch;
  position: relative;
  background-color: #eef2fb;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.div7 {
  position: relative;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 500;
  color: #03133d;
}
.detail10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  z-index: 2;
  font-size: 16px;
}
.button1 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #0739a4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
  z-index: 1;
  color: #fff;
}
.by-submitting-this-container1 {
  align-self: stretch;
  position: relative;
  font-size: 12px;
  letter-spacing: -0.12px;
  line-height: 14px;
  z-index: 0;
  color: #909090;
}
.filters {
  width: 374px;
  backdrop-filter: blur(12px);
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #eef2fb;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 16px;
  font-size: 14px;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 12px;
  max-width: 1440px;
  font-size: 16px;
  color: #041b53;
}
.search-results {
  width: 100%;
  position: relative;
  background-color: #fafbfd;
  border-bottom: 1px solid rgba(7, 57, 164, 0.08);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 32px 120px;
  gap: 16px;
  text-align: left;
  font-size: 14px;
  color: #0739a4;
  font-family: "Helvetica Neue", sans-serif;
}
