<div class="offers">
  <div class="content">
    <b class="special-offers">{{ 'OFFERS.SPECIAL_OFFERS' | translate }}</b>
    <div class="trips">
      <div class="trip-card">
        <div class="trip-category">
          <div class="icon">
            <img class="vector-icon" alt="" src="assets/images/ship-blue.png" />
          </div>
          <div class="marine-shipping">{{ 'OFFERS.MARINE_SHIPPING' | translate }}</div>
        </div>
        <div class="content1">
          <div class="header">
            <img
              class="shipping-partner-icon"
              alt=""
              src="assets/images/Maersk.png"
            />

            <div class="shipping-info">
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon"
                    alt=""
                    src="assets/images/time-blue.png"
                  />
                </div>
                <div class="marine-shipping">19h</div>
              </div>
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon2"
                    alt=""
                    src="assets/images/container.png"
                  />
                </div>
                <div class="marine-shipping">Full Container Load</div>
              </div>
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon2"
                    alt=""
                    src="assets/images/container.png"
                  />
                </div>
                <div class="marine-shipping">40’ Standard</div>
              </div>
            </div>
          </div>
          <div class="content2">
            <div class="departure">
              <div class="shipping-info">
                <div class="flags">
                  <img
                    class="vector-icon4"
                    alt=""
                    src="assets/images/Portugal.png"
                  />
                </div>
                <div class="casablanca-port-ma">Casablanca Port, MA</div>
              </div>
              <div class="div">11/06/2025 - 15:00</div>
            </div>
            <div class="road">
              <div class="marine-shipping">Transit</div>
              <div class="ellipse-parent">
                <div class="ellipse"></div>
                <div class="frame-child"></div>
                <div class="ellipse1"></div>
                <div class="frame-child"></div>
                <div class="ellipse"></div>
              </div>
              <div class="h1">3h</div>
            </div>
            <div class="arrival">
              <div class="shipping-info">
                <div class="flags1">
                  <img
                    class="vector-icon5"
                    alt=""
                    src="assets/images/Spain.png"
                  />
                </div>
                <div class="casablanca-port-ma">Mallorca, SPA</div>
              </div>
              <div class="div">11/05/2025 - 09:10</div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="footer">
            <button
              style="
                cursor: pointer;
                background-color: transparent;
                border-radius: 5px;
                padding: 5px;
                color: blue;
              "
              class="ctasecondary2"
              (click)="openModal()"
            >
              {{ 'OFFERS.VIEW_DETAILS' | translate }}
            </button>
            <div class="pricing">
              <div class="casablanca-port-ma">$1,928.00</div>
              <a
                style="cursor: pointer; color: white; text-decoration: none"
                routerLink="/trip-comp-details"
                routerLinkActive="active"
                class="ctaprimary"
              >
                {{ 'OFFERS.BOOK_NOW' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="trip-card">
         <div class="trip-category">
          <div class="icon">
            <img class="vector-icon" alt="" src="assets/images/ship-blue.png" />
          </div>
          <div class="marine-shipping">{{ 'OFFERS.MARINE_SHIPPING' | translate }}</div>
        </div>
        <div class="trip-card2">
          <div class="header">
            <img
              class="shipping-partner-icon1"
              alt=""
              src="assets/images/Evergreen.png"
            />

            <div class="shipping-info">
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon"
                    alt=""
                    src="assets/images/time-blue.png"
                  />
                </div>
                <div class="marine-shipping">19h</div>
              </div>
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon2"
                    alt=""
                    src="assets/images/container.png"
                  />
                </div>
                <div class="marine-shipping">Less Container Load</div>
              </div>
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon2"
                    alt=""
                    src="assets/images/container.png"
                  />
                </div>
                <div class="marine-shipping">20’ Standard</div>
              </div>
            </div>
          </div>
          <div class="content2">
            <div class="departure">
              <div class="shipping-info">
                <div class="flags2">
                  <img
                    class="flags-child"
                    alt=""
                    src="assets/images/japon.png"
                  />

                  <div class="flags-item"></div>
                  <div class="flags-inner"></div>
                </div>
                <div class="casablanca-port-ma">Sunnyvale Harbor, CA</div>
              </div>
              <div class="div">12/07/2025 - 16:30</div>
            </div>
            <div class="road1">
              <div class="ellipse-parent">
                <div class="ellipse"></div>
                <div class="frame-child"></div>
                <div class="ellipse4"></div>
                <div class="frame-div"></div>
                <div class="ellipse"></div>
              </div>
              <div class="h3">3h</div>
            </div>
            <div class="arrival">
              <div class="shipping-info">
                <div class="flags3">
                  <img
                    class="vector-icon20"
                    alt=""
                    src="assets/images/german.png"
                  />
                </div>
                <div class="casablanca-port-ma">Tokyo, JPN</div>
              </div>
              <div class="div">11/05/2025 - 09:10</div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="footer">
            <button
              style="
                cursor: pointer;
                background-color: transparent;
                border-radius: 5px;
                padding: 5px;
                color: blue;
              "
              class="ctasecondary2"
              (click)="openModal()"
            >
              {{ 'OFFERS.VIEW_DETAILS' | translate }}
            </button>
            <div class="pricing">
              <div class="casablanca-port-ma">$1,928.00</div>
              <a
                style="cursor: pointer; color: white; text-decoration: none"
                routerLink="/trip-comp-details"
                routerLinkActive="active"
                class="ctaprimary"
              >
                {{ 'OFFERS.BOOK_NOW' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="trip-card">
        <div class="trip-category">
          <div class="icon">
            <img class="vector-icon" alt="" src="assets/images/ship-blue.png" />
          </div>
          <div class="marine-shipping">{{ 'OFFERS.MARINE_SHIPPING' | translate }}</div>
        </div>
        <div class="content1">
          <div class="header">
            <img
              class="shipping-partner-icon1"
              alt=""
              src="assets/images/Evergreen.png"
            />

            <div class="shipping-info">
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon"
                    alt=""
                    src="assets/images/time-blue.png"
                  />
                </div>
                <div class="marine-shipping">19h</div>
              </div>
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon2"
                    alt=""
                    src="assets/images/container.png"
                  />
                </div>
                <div class="marine-shipping">Full Container Load</div>
              </div>
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon2"
                    alt=""
                    src="assets/images/container.png"
                  />
                </div>
                <div class="marine-shipping">40’ Standard</div>
              </div>
            </div>
          </div>
          <div class="content2">
            <div class="departure">
              <div class="shipping-info">
                <div class="flags2">
                  <img
                    class="vector-icon5"
                    alt=""
                    src="assets/images/german.png"
                  />
                </div>
                <div class="casablanca-port-ma">Lakeside Wharf, FL</div>
              </div>
              <div class="div">14/09/2025 - 18:15</div>
            </div>
            <div class="road">
              <div class="ellipse-parent">
                <div class="ellipse6"></div>
                <div class="frame-child1"></div>
                <div class="marine-shipping">Transit</div>
                <div class="frame-child2"></div>
                <div class="marine-shipping">Transit</div>
                <div class="frame-child3"></div>
                <div class="ellipse6"></div>
              </div>
              <div class="ellipse-parent">
                <div class="ellipse"></div>
                <div class="frame-child"></div>
                <div class="ellipse1"></div>
                <div class="frame-child"></div>
                <div class="ellipse1"></div>
                <div class="frame-child"></div>
                <div class="ellipse"></div>
              </div>
              <div class="ellipse-parent2">
                <div class="ellipse6"></div>
                <div class="frame-child7"></div>
                <div class="marine-shipping">12h</div>
                <div class="frame-child2"></div>
                <div class="marine-shipping">3h</div>
                <div class="frame-child9"></div>
                <div class="ellipse6"></div>
              </div>
            </div>
            <div class="arrival">
              <div class="shipping-info">
                <div class="flags1">
                  <img
                    class="vector-icon26"
                    alt=""
                    src="assets/images/german.png"
                  />
                </div>
                <div class="casablanca-port-ma">Berlin, GER</div>
              </div>
              <div class="div">11/05/2025 - 09:10</div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="footer">
            <button
              style="
                cursor: pointer;
                background-color: transparent;
                border-radius: 5px;
                padding: 5px;
                color: blue;
              "
              class="ctasecondary"
              (click)="openModal()"
            >
              {{ 'OFFERS.VIEW_DETAILS' | translate }}
            </button>
            <div class="pricing">
              <div class="casablanca-port-ma">$1,928.00</div>
              <a
                style="cursor: pointer; color: white; text-decoration: none"
                routerLink="/trip-comp-details"
                routerLinkActive="active"
                class="ctaprimary"
              >
                {{ 'OFFERS.BOOK_NOW' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="trip-card">
          <div class="trip-category">
          <div class="icon">
            <img class="vector-icon" alt="" src="assets/images/ship-blue.png" />
          </div>
          <div class="marine-shipping">{{ 'OFFERS.MARINE_SHIPPING' | translate }}</div>
        </div>
        <div class="trip-card2">
          <div class="header">
            <img
              class="shipping-partner-icon3"
              alt=""
              src="assets/images/Hapag-Lloyd.png"
            />

            <div class="shipping-info">
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon"
                    alt=""
                    src="assets/images/time-blue.png"
                  />
                </div>
                <div class="marine-shipping">19h</div>
              </div>
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon2"
                    alt=""
                    src="assets/images/container.png"
                  />
                </div>
                <div class="marine-shipping">Full Container Load</div>
              </div>
              <div class="info">
                <div class="icon">
                  <img
                    class="vector-icon2"
                    alt=""
                    src="assets/images/container.png"
                  />
                </div>
                <div class="marine-shipping">40’ Standard</div>
              </div>
            </div>
          </div>
          <div class="content2">
            <div class="departure">
              <div class="shipping-info">
                <div class="flags2">
                  <img
                    class="vector-icon32"
                    alt=""
                    src="assets/images/Morocco.png"
                  />
                </div>
                <div class="casablanca-port-ma">Riverview Dock, USA</div>
              </div>
              <div class="div">13/08/2025 - 17:45</div>
            </div>
            <div class="road">
              <div class="marine-shipping">Transit</div>
              <div class="ellipse-parent">
                <div class="ellipse"></div>
                <div class="frame-child"></div>
                <div class="ellipse1"></div>
                <div class="frame-child"></div>
                <div class="ellipse"></div>
              </div>
              <div class="h1">3h</div>
            </div>
            <div class="arrival">
              <div class="shipping-info">
                <div class="flags2">
                  <img
                    class="vector-icon35"
                    alt=""
                    src="assets/images/Guatemala.png"
                  />
                </div>
                <div class="casablanca-port-ma">Paris, FRA</div>
              </div>
              <div class="div">11/05/2025 - 09:10</div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="footer">
            <button
              style="
                cursor: pointer;
                background-color: transparent;
                border-radius: 5px;
                padding: 5px;
                color: blue;
              "
              class="ctasecondary2"
              (click)="openModal()"
            >
              {{ 'OFFERS.VIEW_DETAILS' | translate }}
            </button>
            <div class="pricing">
              <div class="casablanca-port-ma">$1,928.00</div>
              <a
                style="cursor: pointer; color: white; text-decoration: none"
                routerLink="/trip-comp-details"
                routerLinkActive="active"
                class="ctaprimary"
              >
                {{ 'OFFERS.BOOK_NOW' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ctaprimary4">
      <a style="cursor: pointer" class="view-details">{{ 'OFFERS.VIEW_MORE' | translate }}</a>
      <div class="icon">
        <img
          class="vector-icon37"
          alt=""
          src="assets/images/arrow-straight-right.png"
        />
      </div>
    </div>
  </div>
</div>

<!-- Conditionally render the modal component -->
<app-search-comp-detail
  *ngIf="isModalOpen"
  (closeEvent)="closeModal()"
></app-search-comp-detail>
