<!-- start page content wrapper-->
<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">
    <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">MODIFICATION PORT</div>
    </div>
    <hr />

    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="p-4 border rounded">
              <form
                class="row g-3 needs-validation"
                [formGroup]="form"
                (ngSubmit)="submit()"
              >
                <div class="col-md-6">
                  <label for="portName" class="form-label"
                    >Port name <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-rounded"
                    id="portName"
                    placeholder="Entrez votre Port name"
                    name="portName"
                    required
                    formControlName="portName"
                  /><!-- error -->
                  <div
                    class="text-danger"
                    *ngIf="submitted && f['portName'].errors?.['required']"
                  >
                    Port name est obligatoire!
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="f['portName'].invalid && f['portName'].errors?.['pattern']"
                  >
                    Port name non valide Example(casablanca).
                  </div>
                  <!-- fin error -->
                </div>
                <div class="col-md-6">
                  <label for="portCode" class="form-label"
                    >Code port <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-rounded"
                    id="portCode"
                    placeholder="Entrez votre Port name"
                    name="portCode"
                    required
                    formControlName="portCode"
                  /><!-- error -->
                  <div
                    class="text-danger"
                    *ngIf="submitted && f['portCode'].errors?.['required']"
                  >
                    portCode port est obligatoire!
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="f['portCode'].invalid && f['portCode'].errors?.['pattern']"
                  >
                    Code port non valide Example(125471).
                  </div>
                  <!-- fin error -->
                </div>
                <div class="col-md-6">
                  <label for="countryName" class="form-label"
                    >Country name <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-rounded"
                    id="countryName"
                    placeholder="Entrez votre Port name"
                    name="countryName"
                    required
                    formControlName="countryName"
                  /><!-- error -->
                  <div
                    class="text-danger"
                    *ngIf="submitted && f['countryName'].errors?.['required']"
                  >
                    Country name est obligatoire!
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="f['countryName'].invalid && f['countryName'].errors?.['pattern']"
                  >
                    Country name non valide Example(Maroc).
                  </div>
                  <!-- fin error -->
                </div>
                                <div class="col-md-6">
                  <label for="countryNameAbbreviation" class="form-label"
                    >Country name Abréviation<span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-rounded"
                    id="countryNameAbbreviation"
                    placeholder="Entrez votre Port name Abréviation"
                    name="countryNameAbbreviation"
                    required
                    formControlName="countryNameAbbreviation"
                  /><!-- error -->
                  <div
                    class="text-danger"
                    *ngIf="submitted && f['countryNameAbbreviation'].errors?.['required']"
                  >
                    Country name Abréviation est obligatoire!
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="f['countryNameAbbreviation'].invalid && f['countryNameAbbreviation'].errors?.['pattern']"
                  >
                    Country name Abréviation non valide Example(Maroc).
                  </div>
                  <!-- fin error -->
                </div>
                <div class="col-md-6">
                  <label for="imageUpload" class="form-label"
                    >Logo <span style="color: red">*</span></label
                  >
                  <input
                    (change)="onFileChange($event)"
                    formControlName="portLogo"
                    type="file"
                    class="form-control form-control-rounded"
                    id="imageUpload"
                    accept="image/*"
                  /><!-- error -->
                  <div
                    class="text-danger"
                    *ngIf="submitted && f['portLogo'].errors?.['required']"
                  >
                    logo est obligatoire!
                  </div>
                  <!-- fin error -->
                </div>
                <div class="col-md-6">
                  <label for="portLongitude" class="form-label"
                    >Longitude port <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-rounded"
                    id="portLongitude"
                    placeholder="Entrez votre Port name"
                    name="portLongitude"
                    required
                    formControlName="portLongitude"
                  /><!-- error -->
                  <div
                    class="text-danger"
                    *ngIf="submitted && f['portLongitude'].errors?.['required']"
                  >
                    Longitude port est obligatoire!
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="f['portLongitude'].invalid && f['portLongitude'].errors?.['pattern']"
                  >
                    Longitude port non valide Example(14578).
                  </div>
                  <!-- fin error -->
                </div>
                <div class="col-md-6">
                  <label for="portLatitude" class="form-label"
                    >Latitude port <span style="color: red">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control form-control-rounded"
                    id="portLatitude"
                    placeholder="Entrez votre Port name"
                    name="portLatitude"
                    required
                    formControlName="portLatitude"
                  /><!-- error -->
                  <div
                    class="text-danger"
                    *ngIf="submitted && f['portLatitude'].errors?.['required']"
                  >
                    Latitude port est obligatoire!
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="f['portLatitude'].invalid && f['portLatitude'].errors?.['pattern']"
                  >
                    Latitude port non valide Example(123456).
                  </div>
                  <!-- fin error -->
                </div>
                <div class="col-md-6">
                  <label for="obs" class="form-label">Observation</label>
                  <textarea
                    class="form-control form-control-rounded"
                    id="obs"
                    placeholder="Entrez votre Observation"
                    name="obs"
                    formControlName="obs"
                  ></textarea>
                  <!-- error -->
                  <div
                    class="text-danger"
                    *ngIf="f['obs'].invalid && f['obs'].errors?.['pattern']"
                  >
                    Observation non valide.
                  </div>
                  <!-- fin error -->
                </div>
                <div class="col-12" style="text-align: center">
                  <br /><button class="btn btn-info" [disabled]="form.invalid">
                    ENREGISTRER
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
  <!-- end page content-->
</div>
<!--********************************** this for loading show ***********************************-->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
