<div class="hero">
  <!-- Cancellation Conditions Section -->
  <div class="heading">
    <b class="privacy-policy1">{{ 'CANCELLATION_CONDITIONS.TITLE' | translate }}</b>
    <div class="last-updated-30">{{ 'CANCELLATION_CONDITIONS.LAST_UPDATED' | translate:{date:'25 August 2025'} }}</div>

    <div class="copy">
      <div class="this-privacy-policy">
        <ol class="use-of-information">

          <li>
            <b style="font-size: 25px;">1. {{ 'CANCELLATION_CONDITIONS.POLICY_TITLE' | translate }}</b>
            <p [innerHTML]="'CANCELLATION_CONDITIONS.POLICY_TEXT' | translate"></p>
          </li>

          <li>
            <b style="font-size: 25px;">2. {{ 'CANCELLATION_CONDITIONS.DEADLINE_TITLE' | translate }}</b>
            <p>{{ 'CANCELLATION_CONDITIONS.DEADLINE_TEXT' | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px;">3. {{ 'CANCELLATION_CONDITIONS.FEES_TITLE' | translate }}</b>
            <p>{{ 'CANCELLATION_CONDITIONS.FEES_TEXT' | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px;">4. {{ 'CANCELLATION_CONDITIONS.EXCEPTIONS_TITLE' | translate }}</b>
            <p>{{ 'CANCELLATION_CONDITIONS.EXCEPTIONS_TEXT' | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px;">5. {{ 'CANCELLATION_CONDITIONS.SUBMIT_TITLE' | translate }}</b>
            <p [innerHTML]="'CANCELLATION_CONDITIONS.SUBMIT_TEXT' | translate"></p>
          </li>

        </ol>
      </div>
    </div>
  </div>
</div>
