<div class="ABOUT_US">
  <div class="heading">
    <div class="active-shipping-leads">
      {{ "ABOUT_US.TITLE_ABOUT_USS" | translate }}
    </div>
    <b class="thousands-of-businesses">{{ "ABOUT_US.SUBTITLE" | translate }}</b>
  </div>
  <div class="wm-wrapper">
    <div class="wm">
      <img class="earth-icon" alt="" src="assets/images/Earth.png" />

      <div class="ellipse-parent">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
      <div class="ellipse-group">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
      <div class="ellipse-container">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
      <div class="group-div">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
      <div class="ellipse-parent1">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
      <div class="ellipse-parent2">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
      <div class="ellipse-parent3">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
      <div class="ellipse-parent4">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
      <div class="ellipse-parent5">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
      <div class="ellipse-parent6">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
      <div class="ellipse-parent7">
        <div class="instance-child"></div>
        <div class="instance-item"></div>
      </div>
    </div>
  </div>
  <div class="content-parent">
    <div class="content">
      <div class="asia">{{ "ABOUT_US.ASIA.NAME" | translate }}</div>
      <b class="leads">{{ "ABOUT_US.ASIA.LEADS" | translate }}</b>
    </div>
    <div class="content">
      <div class="asia">{{ "ABOUT_US.OCEANIA.NAME" | translate }}</div>
      <b class="leads">{{ "ABOUT_US.OCEANIA.LEADS" | translate }}</b>
    </div>
    <div class="content">
      <div class="asia">{{ "ABOUT_US.SOUTH_AMERICA.NAME" | translate }}</div>
      <b class="leads">{{ "ABOUT_US.SOUTH_AMERICA.LEADS" | translate }}</b>
    </div>
    <div class="content3">
      <div class="asia">{{ "ABOUT_US.AFRICA.NAME" | translate }}</div>
      <b class="leads">{{ "ABOUT_US.AFRICA.LEADS" | translate }}</b>
    </div>
    <div class="content3">
      <div class="asia">{{ "ABOUT_US.EUROPE.NAME" | translate }}</div>
      <b class="leads">{{ "ABOUT_US.EUROPE.LEADS" | translate }}</b>
    </div>
    <div class="content3">
      <div class="asia">{{ "ABOUT_US.NORTH_AMERICA.NAME" | translate }}</div>
      <b class="leads">{{ "ABOUT_US.NORTH_AMERICA.LEADS" | translate }}</b>
    </div>
  </div>
</div>
