<div class="how-it-works">
  <div class="content">
    <img class="image-icon" alt="" src="assets/images/Image.png" />

    <img class="image-icon1" alt="" src="assets/images/work1.png" />

    <div class="content1">
      <div class="heading">
        <div class="how-it-works1">{{ "HOW_IT_WORKS.TITLE" | translate }}</div>
        <b class="your-container-fully">
          {{ "HOW_IT_WORKS.SUBTITLE" | translate }}
        </b>
      </div>
      <div class="steps">
        <div class="step">
          <div class="done">
            <div class="icon">
              <img
                class="vector-icon"
                alt=""
                src="assets/images/check-icon.png"
              />
            </div>
          </div>
          <div class="content2">
            <b class="enter-your-trip">{{
              "HOW_IT_WORKS.STEP1.TITLE" | translate
            }}</b>
            <div class="enter-your-origin">
              {{ "HOW_IT_WORKS.STEP1.DESCRIPTION" | translate }}
            </div>
          </div>
        </div>

        <div class="separator"></div>

        <div class="step">
          <div class="done">
            <div class="icon">
              <img
                class="vector-icon"
                alt=""
                src="assets/images/check-icon.png"
              />
            </div>
          </div>
          <div class="content2">
            <b class="enter-your-trip">{{
              "HOW_IT_WORKS.STEP2.TITLE" | translate
            }}</b>
            <div class="enter-your-origin">
              {{ "HOW_IT_WORKS.STEP2.DESCRIPTION" | translate }}
            </div>
          </div>
        </div>

        <div class="separator"></div>

        <div class="step2">
          <div class="timer"></div>
          <div class="content2">
            <b class="enter-your-trip">{{
              "HOW_IT_WORKS.STEP3.TITLE" | translate
            }}</b>
            <div class="enter-your-origin">
              <p class="confirm-your-booking">
                {{ "HOW_IT_WORKS.STEP3.PART1" | translate }}
              </p>
              <p class="confirm-your-booking">
                {{ "HOW_IT_WORKS.STEP3.PART2" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>