<div class="why-choose-us">
  <div class="content">
    <div class="heading">
      <div class="why-choose-us1">{{ "WHY_CHOOSE_US.TITLE" | translate }}</div>
      <b class="where-transparency-meets">
        {{ "WHY_CHOOSE_US.SUBTITLE" | translate }}
      </b>
    </div>

    <div class="row">
      <!-- Card 1 -->
      <div class="trip-card">
        <div class="heading1">
          <b class="real-time-container-availabili">
            {{ "WHY_CHOOSE_US.CARD1.TITLE" | translate }}
          </b>
          <div class="instantly-check-container">
            {{ "WHY_CHOOSE_US.CARD1.DESCRIPTION" | translate }}
          </div>
        </div>
        <img
          class="illustration"
          alt=""
          src="assets/images/Real-time-container-availability.gif"
        />
      </div>

      <!-- Card 2 -->
      <div class="trip-card3">
        <div class="heading2">
          <b class="transparent-pricing-with">
            {{ "WHY_CHOOSE_US.CARD2.TITLE" | translate }}
          </b>
          <div class="our-pricing-is">
            {{ "WHY_CHOOSE_US.CARD2.DESCRIPTION" | translate }}
          </div>
        </div>
        <img
          class="invoice-parent"
          alt=""
          src="assets/images/Transparent-pricing.gif"
        />
      </div>
    </div>

    <div class="row1">
      <!-- Card 3 -->
      <div class="trip-card4">
        <div class="heading3">
          <b class="transparent-pricing-with">
            {{ "WHY_CHOOSE_US.CARD3.TITLE" | translate }}
          </b>
          <div class="our-pricing-is">
            <p>{{ "WHY_CHOOSE_US.CARD3.PART1" | translate }}</p>
            <p>{{ "WHY_CHOOSE_US.CARD3.PART2" | translate }}</p>
            <p>{{ "WHY_CHOOSE_US.CARD3.PART3" | translate }}</p>
          </div>
        </div>
        <img
          style="border: none"
          class="illustration1"
          alt=""
          src="assets/images/Schedules.gif"
        />
      </div>

      <!-- Card 4 -->
      <div class="trip-card5">
        <div class="heading4">
          <b class="real-time-container-availabili">
            {{ "WHY_CHOOSE_US.CARD4.TITLE" | translate }}
          </b>
          <div class="easily-book-your">
            {{ "WHY_CHOOSE_US.CARD4.DESCRIPTION" | translate }}
          </div>
        </div>
        <img class="road" alt="" src="assets/images/Reliable-tracking.gif" />
      </div>
    </div>
  </div>
</div>
