<!--start top header-->
<header class="top-header">
  <nav class="navbar navbar-expand gap-3">
    <div class="mobile-menu-button">
      <ion-icon name="menu-sharp"></ion-icon>
    </div>

    <div class="top-navbar-right ms-auto">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item dropdown dropdown-large">
            <a
              class="nav-link dropdown-toggle dropdown-toggle-nocaret"
              href="javascript:;"
              data-bs-toggle="dropdown"
              (click)="onNotificationsClick()"
            >
              <div class="position-relative">
                <span class="notify-badge">{{ notificationsCount }}</span>
                <ion-icon name="notifications-sharp"></ion-icon>
              </div>
            </a>

            <div class="dropdown-menu dropdown-menu-end">
              <a
                class="dropdown-item"
                [routerLink]="'/notifications'"
                routerLinkActive="active"
              >
                <div class="msg-header">
                  <p class="msg-header-title">Notifications</p>
                </div>
              </a>
            </div>
        </li>
        <li class="nav-item dropdown dropdown-user-setting">
          <a
            class="nav-link dropdown-toggle dropdown-toggle-nocaret"
            href="javascript:;"
            data-bs-toggle="dropdown"
          >
            <div class="user-setting">
              <img
                src="assets/images/avatars/user.png"
                class="user-img"
                alt=""
              />
            </div>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="#">
                <div class="d-flex flex-row align-items-center gap-2">
                  <img
                    src="assets/images/avatars/user.png"
                    alt=""
                    class="rounded-circle"
                    width="54"
                    height="54"
                  />
                  <div class="">
                    @if (currentUser$ | async; as user) {
                    <h6 class="mb-0 dropdown-user-name">
                      {{ user.firstName }} {{ user.lastName }}
                    </h6>
                    <small
                      class="mb-0 dropdown-user-designation text-secondary"
                    >
                      {{ user.email }}
                    </small>
                    }
                  </div>
                </div>
              </a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                [routerLink]="['/edit-password', userId]"
                routerLinkActive="active"
              >
                <div class="d-flex align-items-center">
                  <div class="">
                    <ion-icon name="eyedrop-outline"></ion-icon>
                  </div>
                  <div class="ms-3"><span>Modifier Mot de Passe</span></div>
                </div>
              </a>
            </li>
            @if (isAdmin()) {
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/users"
                routerLinkActive="active"
              >
                <div class="d-flex align-items-center">
                  <div class="">
                    <ion-icon name="settings-outline"></ion-icon>
                  </div>
                  <div class="ms-3"><span>Users Account</span></div>
                </div>
              </a>
            </li>
            }
            <li><hr class="dropdown-divider" /></li>
            <li>
              <button
                type="button"
                class="dropdown-item w-100 text-start"
                (click)="logout()"
                (keydown.enter)="logout()"
                (keydown.space)="logout()"
                aria-label="Déconnexion"
              >
                <div class="d-flex align-items-center">
                  <div><ion-icon name="log-out-outline"></ion-icon></div>
                  <div class="ms-3"><span>Déconnexion</span></div>
                </div>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!--end top header-->
