.vector-icon {
  position: absolute;
  height: 58.13%;
  width: 58.13%;
  top: 20.83%;
  right: 21.04%;
  bottom: 21.04%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.icon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}

.back {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 18px;
  font-weight: 500;
}

.ctasecondary {
  border-radius: 4px;
  background-color: #eef2fb;
  border: 1px solid #d6e0f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  gap: 8px;
}

.book-a-container {
  position: relative;
  font-size: 20px;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 500;
  color: #05256e;
  display: inline-block;
  max-width: 1440px;
}

.header {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.vector-icon1 {
  position: absolute;
  height: 83.13%;
  width: 83.13%;
  top: 8.33%;
  right: 8.54%;
  bottom: 8.54%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.for-brokers {
  position: relative;
  letter-spacing: -0.16px;
  line-height: 17px;
}

.tab-item {
  align-self: stretch;
  flex: 1;
  border-radius: 2px;
  background-color: #0739a4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  gap: 4px;
  color: #fff;
}

.vector-icon2 {
  position: absolute;
  height: 75.63%;
  width: 75.63%;
  top: 11.72%;
  right: 11.88%;
  bottom: 12.66%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.tab-item1 {
  align-self: stretch;
  flex: 1;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  gap: 4px;
}

.vector-icon3 {
  position: absolute;
  height: 66.88%;
  width: 83.13%;
  top: 16.67%;
  right: 8.54%;
  bottom: 16.46%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.tabs {
  align-self: stretch;
  border-radius: 2px;
  background-color: #eef2fb;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  box-sizing: border-box;
  gap: 12px;
}

.input-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.header1 {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.vector-icon4 {
  position: absolute;
  height: 83.13%;
  width: 66.88%;
  top: 8.33%;
  right: 16.46%;
  bottom: 8.54%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.casablanca-portma {
  flex: 1;
  position: relative;
  letter-spacing: -0.16px;
  line-height: 17px;
}

.text-field {
  align-self: stretch;
  background-color: #fff;
  border-bottom: 1px solid #d6e0f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
}

.input-field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  min-width: 272px;
}

.vector-icon6 {
  position: absolute;
  height: 50%;
  width: 25%;
  top: 25%;
  right: 37.5%;
  bottom: 25%;
  left: 37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.leading-icon2 {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}

.year {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 8px;
}

.week {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.day {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.days {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: #aec3f2;
}

.day26 {
  flex: 1;
  border-radius: 2px;
  background-color: #eef2fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.day38 {
  flex: 1;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  opacity: 0.32;
}

.calendar {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 47px;
  right: 0px;
  left: 0px;
  box-shadow: 0px 4px 12px 2px rgba(7, 57, 164, 0.04);
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  box-sizing: border-box;
  gap: 4px;
  opacity: 0;
  z-index: 0;
  text-align: center;
  color: #05256e;
}

.checkbox-child {
  appearance: none;
  -webkit-appearance: none;
  width: 40px;
  height: 15px;
  background: #e0e0e0;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.checkbox {
  width: 40px;
  border-radius: 999px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
  box-sizing: border-box;
}

.input-title2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.header3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}

.vector-icon10 {
  position: absolute;
  height: 83.13%;
  width: 75%;
  top: 8.33%;
  right: 12.5%;
  bottom: 8.54%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.text-field2 {
  align-self: stretch;
  background-color: #fff;
  border-bottom: 1px solid #d6e0f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
  z-index: 2;
}

.date-field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 8px;
  min-width: 272px;
}

.fcl1 {
  color: rgba(128, 128, 128, 0.55);
}

.fcl {
  align-self: stretch;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}

.list1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.list {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  right: 0px;
  bottom: -111.33px;
  left: 0px;
  box-shadow: 0px 4px 12px 2px rgba(7, 57, 164, 0.04);
  border-radius: 2px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  box-sizing: border-box;
  opacity: 0;
  z-index: 0;
  color: #05256e;
}

.vector-icon11 {
  position: absolute;
  height: 25%;
  width: 50%;
  top: 37.5%;
  right: 25%;
  bottom: 37.5%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.mono-select-field {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 8px;
}

.tt {
  position: relative;
  letter-spacing: -0.16px;
  line-height: 17px;
  color: #909090;
  text-align: right;
}

.input-field2 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.shipping-typemarine {
  align-self: stretch;
  height: 222px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.content2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  color: #03133d;
}

.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  z-index: 0;
}

.search-bardesktop {
  align-self: stretch;
  backdrop-filter: blur(12px);
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #eef2fb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  height: 390px;
}

.filters1 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-weight: 500;
}

.clear-all {
  position: relative;
  font-size: 14px;
  text-decoration: underline;
  letter-spacing: -0.16px;
  line-height: 17px;
  font-weight: 500;
  color: #ffd4b3;
}

.filters-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  z-index: 1;
}

.mono-select-field1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 8px;
}

.header8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.div37 {
  flex: 1;
  position: relative;
  letter-spacing: -0.16px;
  line-height: 17px;
  color: #03133d;
  text-align: center;
}

.min {
  flex: 1;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d6e0f8;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 8px;
  gap: 8px;
}

.min-max {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  text-align: right;
  color: #909090;
}

.range-indicator {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: #05256e;
  overflow: hidden;
}

.max {
  width: 16px;
  position: relative;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #05256e;
  box-sizing: border-box;
  height: 16px;
}

.sliders {
  width: 300px;
  height: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sliders-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 0px;
}

.price-range {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.min-max1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  text-align: center;
}

.content3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  z-index: 0;
  font-size: 14px;
  color: #03133d;
}

.filters {
  backdrop-filter: blur(12px);
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #eef2fb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  gap: 24px;
  text-align: left;
  font-size: 20px;
  color: #041b53;
}

.left-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}

.vector-icon13 {
  position: absolute;
  height: 45.83%;
  width: 66.67%;
  top: 25%;
  right: 16.67%;
  bottom: 29.17%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.icon4 {
  width: 12px;
  position: relative;
  height: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.checkbox1 {
  width: 16px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #d6e0f8;
  box-sizing: border-box;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
}

.sort-by-fastest {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 14px;
}

.quick-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.checkbox2 {
  width: 16px;
  border-radius: 2px;
  background-color: #0739a4;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px;
  box-sizing: border-box;
}

.filters2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  z-index: 1;
}

.stay-updated1 {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 14px;
  font-weight: 500;
}

.stay-updated {
  border-radius: 4px;
  background-color: #fff8f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 8px;
  z-index: 0;
  font-size: 12px;
  color: #ff6600;
}

.topbar {
  align-self: stretch;
  backdrop-filter: blur(12px);
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #eef2fb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 0px;
  color: #000;
}

.showing-129429-results {
  position: relative;
  letter-spacing: -0.16px;
  line-height: 17px;
  font-weight: 500;
}

.marine-shipping {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
}

.trip-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.vector-icon18 {
  position: absolute;
  height: 75%;
  width: 83.13%;
  top: 12.5%;
  right: 8.54%;
  bottom: 12.5%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.quick-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.top-bar {
  align-self: stretch;
  border-radius: 4px 4px 0px 0px;
  background-color: #e8efff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  gap: 0px;
}

.shipping-partner-icon {
  width: 22px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
}

.info {
  border-radius: 2px;
  border: 1px solid rgba(7, 57, 164, 0.12);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  gap: 4px;
}

.vector-icon20 {
  position: absolute;
  height: 82.5%;
  width: 83.13%;
  top: 8.65%;
  right: 8.54%;
  bottom: 8.85%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.shipping-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #0739a4;
}

.header10 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.vector-icon22 {
  position: absolute;
  height: 30%;
  width: 22.86%;
  top: 34.93%;
  right: 38.47%;
  bottom: 35.07%;
  left: 38.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.flags {
  width: 21px;
  position: relative;
  background-color: #af010d;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
}

.casablanca-port-ma {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 500;
}

.div42 {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: #909090;
  text-align: left;
}

.departure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.ellipse {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #0739a4;
  height: 8px;
}

.frame-child {
  flex: 1;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
}

.ellipse1 {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #ff6701;
  height: 8px;
}

.ellipse-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.h1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: #909090;
}

.road {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 12px;
  color: #ff6701;
}

.vector-icon23 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon24 {
  position: absolute;
  height: 46.67%;
  width: 100%;
  top: 26.67%;
  right: 0%;
  bottom: 26.67%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon25 {
  position: absolute;
  height: 34.67%;
  width: 23.81%;
  top: 31.79%;
  right: 57.14%;
  bottom: 33.54%;
  left: 19.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon26 {
  position: absolute;
  height: 20%;
  width: 33.33%;
  top: 46.67%;
  right: 52.38%;
  bottom: 33.33%;
  left: 14.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon27 {
  position: absolute;
  height: 6.67%;
  width: 33.33%;
  top: 60%;
  right: 52.38%;
  bottom: 33.33%;
  left: 14.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon28 {
  position: absolute;
  height: 6.67%;
  width: 33.33%;
  top: 40%;
  right: 52.38%;
  bottom: 53.33%;
  left: 14.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon29 {
  position: absolute;
  height: 23.33%;
  width: 14.29%;
  top: 40%;
  right: 61.9%;
  bottom: 36.67%;
  left: 23.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon30 {
  position: absolute;
  height: 10%;
  width: 4.76%;
  top: 40%;
  right: 61.9%;
  bottom: 50%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon31 {
  position: absolute;
  height: 10%;
  width: 4.76%;
  top: 53.33%;
  right: 71.43%;
  bottom: 36.67%;
  left: 23.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon32 {
  position: absolute;
  height: 6.67%;
  width: 14.29%;
  top: 33.33%;
  right: 61.9%;
  bottom: 60%;
  left: 23.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon33 {
  position: absolute;
  height: 6.67%;
  width: 4.76%;
  top: 26.67%;
  right: 66.67%;
  bottom: 66.67%;
  left: 28.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.flags1 {
  width: 21px;
  position: relative;
  background-color: #f93939;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
}

.arrival {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2px;
}

.content5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  text-align: right;
  font-size: 16px;
  color: #000;
}

.separator {
  align-self: stretch;
  position: relative;
  background-color: rgba(7, 57, 164, 0.08);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}

.ctasecondary1 {
  border-radius: 4px;
  background-color: #eef2fb;
  border: 1px solid #d6e0f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

.ctasecondary2 {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #0739a4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

.ctaprimary {
  border-radius: 4px;
  background-color: #0739a4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  text-align: left;
  font-size: 14px;
  color: #fff;
}

.pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  text-align: right;
  font-size: 20px;
  color: #000;
}

.footer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  font-size: 14px;
  color: #0739a4;
}

.content4 {
  align-self: stretch;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  border-top: 1px solid rgba(7, 57, 164, 0.12);
  box-sizing: border-box;
  height: 179px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  gap: 12px;
  min-width: 564px;
  min-height: 179px;
  color: #6c6c6c;
}

.trip-card {
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid rgba(7, 57, 164, 0.12);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 564px;
}

.shipping-partner-icon2 {
  width: 96px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.ellipse6 {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #0739a4;
  height: 8px;
  opacity: 0;
}

.frame-child1 {
  width: 138px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.frame-child2 {
  width: 114px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.frame-child3 {
  width: 57px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.frame-child7 {
  width: 142px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.frame-child8 {
  width: 134px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.frame-child9 {
  width: 66px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.ellipse-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #909090;
}

.shipping-partner-icon3 {
  width: 39.4px;
  height: 37px;
  overflow: hidden;
  flex-shrink: 0;
}

.content9 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  text-align: right;
  font-size: 16px;
  color: #000;
}

.trip-card5 {
  align-self: stretch;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  border-top: 1px solid rgba(7, 57, 164, 0.12);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;
  gap: 12px;
  min-width: 564px;
  min-height: 179px;
  color: #6c6c6c;
}

.trips {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 12px;
  color: #0739a4;
}

.showing-1-4 {
  position: relative;
  letter-spacing: -0.16px;
  line-height: 17px;
  font-weight: 500;
  z-index: 1;
}

.ctasecondary9 {
  border-radius: 4px;
  background-color: #eef2fb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  opacity: 0.32;
}

.page {
  width: 34px;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  box-sizing: border-box;
  color: blue;
  cursor: pointer;
}

.page1 {
  width: 34px;
  border-radius: 4px;
  background-color: #fff8f2;
  border: 1px solid #ffeedf;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  opacity: 0.48;
}

.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #ff6600;
}

.ctasecondary10 {
  border-radius: 4px;
  background-color: #eef2fb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

.actions4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  z-index: 0;
  color: #0739a4;
}

.pagination {
  align-self: stretch;
  backdrop-filter: blur(12px);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.right-column {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  text-align: left;
  color: #03133d;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  max-width: 1440px;
  text-align: right;
  color: #000;
}

.search-results {
  width: 100%;
  position: relative;
  background-color: #fafbfd;
  border-bottom: 1px solid rgba(7, 57, 164, 0.08);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 32px;
  gap: 16px;
  text-align: left;
  font-size: 14px;
  color: #0739a4;
  font-family: "Helvetica Neue", sans-serif;
}

.shipping-partner-icon4 {
  width: 96px;
  height: 22px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.carrier-id4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.vector-icon88 {
  position: absolute;
  height: 83.13%;
  width: 83.13%;
  top: 8.33%;
  right: 8.54%;
  bottom: 8.54%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.icon31 {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}

.info12 {
  border-radius: 2px;
  border: 1px solid rgba(7, 57, 164, 0.12);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  gap: 4px;
}

.vector-icon89 {
  position: absolute;
  height: 82.5%;
  width: 83.13%;
  top: 8.65%;
  right: 8.54%;
  bottom: 8.85%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.shipping-info4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #0739a4;
}

.header14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  font-size: 12px;
}

.vector-icon91 {
  position: absolute;
  height: 30%;
  width: 22.86%;
  top: 34.93%;
  right: 38.47%;
  bottom: 35.07%;
  left: 38.68%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.flags8 {
  width: 21px;
  position: relative;
  background-color: #af010d;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
}

.casablanca-port-ma4 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 500;
}

.departure9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.div58 {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: #909090;
  text-align: left;
}

.departure8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}

.ellipse22 {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #0739a4;
  height: 8px;
  opacity: 0;
}

.frame-child19 {
  width: 138px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.frame-child20 {
  width: 114px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.frame-child21 {
  width: 57px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.ellipse-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.ellipse24 {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #0739a4;
  height: 8px;
}

.frame-child22 {
  flex: 1;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
}

.ellipse25 {
  width: 8px;
  position: relative;
  border-radius: 50%;
  background-color: #ff6701;
  height: 8px;
}

.frame-child25 {
  width: 142px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.frame-child26 {
  width: 134px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.frame-child27 {
  width: 66px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0;
}

.ellipse-parent8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #909090;
}

.road4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: 12px;
  color: #ff6701;
}

.vector-icon92 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon93 {
  position: absolute;
  height: 46.67%;
  width: 100%;
  top: 26.67%;
  right: 0%;
  bottom: 26.67%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon94 {
  position: absolute;
  height: 34.67%;
  width: 23.81%;
  top: 31.79%;
  right: 57.14%;
  bottom: 33.54%;
  left: 19.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon95 {
  position: absolute;
  height: 20%;
  width: 33.33%;
  top: 46.67%;
  right: 52.38%;
  bottom: 33.33%;
  left: 14.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon96 {
  position: absolute;
  height: 6.67%;
  width: 33.33%;
  top: 60%;
  right: 52.38%;
  bottom: 33.33%;
  left: 14.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon97 {
  position: absolute;
  height: 6.67%;
  width: 33.33%;
  top: 40%;
  right: 52.38%;
  bottom: 53.33%;
  left: 14.29%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon98 {
  position: absolute;
  height: 23.33%;
  width: 14.29%;
  top: 40%;
  right: 61.9%;
  bottom: 36.67%;
  left: 23.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon99 {
  position: absolute;
  height: 10%;
  width: 4.76%;
  top: 40%;
  right: 61.9%;
  bottom: 50%;
  left: 33.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon100 {
  position: absolute;
  height: 10%;
  width: 4.76%;
  top: 53.33%;
  right: 71.43%;
  bottom: 36.67%;
  left: 23.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon101 {
  position: absolute;
  height: 6.67%;
  width: 14.29%;
  top: 33.33%;
  right: 61.9%;
  bottom: 60%;
  left: 23.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.vector-icon102 {
  position: absolute;
  height: 6.67%;
  width: 4.76%;
  top: 26.67%;
  right: 66.67%;
  bottom: 66.67%;
  left: 28.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.flags9 {
  width: 21px;
  position: relative;
  background-color: #f93939;
  height: 15px;
  overflow: hidden;
  flex-shrink: 0;
}

.arrival8 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 2px;
}

.trip {
  align-self: stretch;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  text-align: right;
  color: #000;
}

.separator4 {
  align-self: stretch;
  position: relative;
  background-color: #eef2fb;
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}

.vector-icon103 {
  position: absolute;
  height: 6.25%;
  width: 58.13%;
  top: 50%;
  right: 21.04%;
  bottom: 43.75%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.header15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.departure11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
}

.departure10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.timeline-child {
  width: 1px;
  flex: 1;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  overflow: hidden;
  z-index: 0;
}

.trip-category4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.km-3-days {
  position: relative;
  letter-spacing: -0.12px;
  line-height: 14px;
  font-weight: 500;
  color: #000;
}

.header16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.ocean-freight-fifo {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 18px;
  font-weight: 500;
}

.content12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  color: #0739a4;
}

.details1 {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 24.5px);
  left: 20px;
  border-radius: 4px;
  background-color: #eef2fb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 8px;
  gap: 4px;
  z-index: 1;
}

.timeline {
  width: 8px;
  height: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}

.transit9 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  color: #ff6701;
}

.tanger-port-ma {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
}

.transit8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  color: #909090;
}

.timeline-item {
  align-self: stretch;
  width: 1px;
  position: relative;
  background-color: rgba(7, 57, 164, 0.12);
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}

.details2 {
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 25.5px);
  right: 17px;
  border-radius: 4px;
  background-color: #eef2fb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 8px;
  gap: 4px;
  z-index: 1;
}

.timeline1 {
  width: 8px;
  height: 49px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}

.timeline2 {
  width: 8px;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 10px;
}

.trip-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.road5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 12px;
  color: #7d9fec;
}

.arrival10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.content11 {
  width: 538px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-icon {
  width: 347px;
  position: relative;
  border-radius: 4px;
  height: 343px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

.content10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  text-align: right;
  color: #000;
}

.rate-breakdown {
  width: 921px;
  border-radius: 6px;
  border: 1px solid #eef2fb;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
  gap: 12px;
}

.terms-and-additional {
  position: relative;
  letter-spacing: -0.18px;
  line-height: 19px;
  font-weight: 500;
}

.vector-icon119 {
  position: absolute;
  height: 58.13%;
  width: 58.13%;
  top: 20.83%;
  right: 21.04%;
  bottom: 21.04%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.terms-and-conditions {
  width: 921px;
  flex: 1;
  border-radius: 6px;
  border: 1px solid #eef2fb;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12px;
}

.trip-content {
  width: 921px;
  height: 453px;
  overflow-y: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
  color: #041b53;
}

.separator5 {
  align-self: stretch;
  position: relative;
  background-color: rgba(7, 57, 164, 0.08);
  height: 1px;
  overflow: hidden;
  flex-shrink: 0;
}

.ctasecondary11 {
  border-radius: 4px;
  background-color: #eef2fb;
  border: 1px solid #d6e0f8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

.ctasecondary12 {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #0739a4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
}

.ctaprimary4 {
  border-radius: 4px;
  background-color: #0739a4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  color: #fff;
}

.pricing4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  text-align: right;
  font-size: 20px;
  color: #000;
}

.footer4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  font-size: 14px;
  color: #0739a4;
}

.trip-card6 {
  align-self: stretch;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  border-top: 1px solid rgba(7, 57, 164, 0.12);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
  gap: 12px;
  min-width: 564px;
  min-height: 179px;
}

.details {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 564px;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 16px;
  color: #6c6c6c;
  font-family: "Helvetica Neue", sans-serif;
}

/********* this is for checkbox dates ************/
.checkbox-child:checked {
  background: rgba(63, 81, 181, 0.2);
}

.checkbox-child::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #3f51b5;
  transition: transform 0.3s;
}

.checkbox-child:checked::before {
  transform: translateX(20px);
}

/******************************this is for spinner ship */
/* Loading Spinner Styles */
.ship-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.ship-spinner {
  width: 48px;
  height: 48px;
  animation: shipTurn 1.2s linear infinite;
}

@keyframes shipTurn {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.no-data {
  text-align: center;
  margin-top: 16px;
  color: #666;
}

.page.active {
  background-color: #ff6600;
  color: #fff8f2;
}