<div class="hero">
  <!-- Payment Conditions Section -->
  <div class="heading">
    <b class="privacy-policy1">{{ "PAYMENT_CONDITIONS.TITLE" | translate }}</b>
    <div class="last-updated-30">
      {{ "PAYMENT_CONDITIONS.LAST_UPDATED" | translate : { date: "25 August 2025" } }}
    </div>

    <div class="copy">
      <div class="this-privacy-policy">
        <ol class="use-of-information">
          <li>
            <b style="font-size: 25px"
              >1. {{ "PAYMENT_CONDITIONS.ACCEPTED_METHODS_TITLE" | translate }}</b
            >
            <p>{{ "PAYMENT_CONDITIONS.ACCEPTED_METHODS_TEXT" | translate }}</p>
            <ul class="personal-information">
              <li>{{ "PAYMENT_CONDITIONS.ACCEPTED_METHODS_POINT1" | translate }}</li>
              <li>{{ "PAYMENT_CONDITIONS.ACCEPTED_METHODS_POINT2" | translate }}</li>
            </ul>
          </li>
          <br />

          <li>
            <b style="font-size: 25px"
              >2. {{ "PAYMENT_CONDITIONS.CMI_PROCESS_TITLE" | translate }}</b
            >
            <p>{{ "PAYMENT_CONDITIONS.CMI_PROCESS_TEXT" | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px"
              >3. {{ "PAYMENT_CONDITIONS.NO_REFUND_TITLE" | translate }}</b
            >
            <p>{{ "PAYMENT_CONDITIONS.NO_REFUND_TEXT" | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px"
              >4. {{ "PAYMENT_CONDITIONS.BILLING_TITLE" | translate }}</b
            >
            <p>{{ "PAYMENT_CONDITIONS.BILLING_TEXT" | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px"
              >5. {{ "PAYMENT_CONDITIONS.ISSUES_TITLE" | translate }}</b
            >
            <p>{{ "PAYMENT_CONDITIONS.ISSUES_TEXT" | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px"
              >6. {{ "PAYMENT_CONDITIONS.SECURITY_TITLE" | translate }}</b
            >
            <p>{{ "PAYMENT_CONDITIONS.SECURITY_TEXT" | translate }}</p>
          </li>

          <li>
            <b style="font-size: 25px"
              >7. {{ "PAYMENT_CONDITIONS.CONTACT_TITLE" | translate }}</b
            >
            <p>{{ "PAYMENT_CONDITIONS.CONTACT_TEXT" | translate }}</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
