<div class="hero">
  <div class="heading">
    <div class="title">
      <b class="b">404</b>
      <b class="page-not-found">Page not found</b>
    </div>
    <div class="the-page-you">
      The page you are trying to reach is either under maintenance or doesn’t
      exist.
    </div>
    <div class="ctaprimary" id="cTAPrimaryContainer">
      <div class="icon">
        <img class="vector-icon" alt="" src="assets/images/arrow-left-nn.png" />
      </div>
      <div class="go-home">Go Back</div>
    </div>
  </div>
</div>
<br />
<br />
<br />
