<div class="faq">
  <div class="content">
    <div class="heading">
      <div class="faq1">{{ 'FAQ.TITLE' | translate }}</div>
      <b class="we-answered-the">{{ 'FAQ.SUBTITLE' | translate }}</b>
    </div>
    <div class="content1">
      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/wallet.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ.QUESTIONS.0.QUESTION' | translate }}</b>
        <div class="simply-enter-your">{{ 'FAQ.QUESTIONS.0.ANSWER' | translate }}</div>
      </div>
      <div class="question-card">
        <div class="icon">
          <img class="vector-icon1" alt="" src="assets/images/time-faq.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ.QUESTIONS.1.QUESTION' | translate }}</b>
        <div class="simply-enter-your">{{ 'FAQ.QUESTIONS.1.ANSWER' | translate }}</div>
      </div>
      <div class="question-card">
        <div class="icon">
          <img class="vector-icon2" alt="" src="assets/images/hand-faq.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ.QUESTIONS.2.QUESTION' | translate }}</b>
        <div class="simply-enter-your">{{ 'FAQ.QUESTIONS.2.ANSWER' | translate }}</div>
      </div>
      <div class="question-card">
        <div class="icon">
          <img class="vector-icon3" alt="" src="assets/images/backpack-faq.png" />
        </div>
        <b class="how-do-i">{{ 'FAQ.QUESTIONS.3.QUESTION' | translate }}</b>
        <div class="simply-enter-your">{{ 'FAQ.QUESTIONS.3.ANSWER' | translate }}</div>
      </div>
      <div class="question-card">
        <div class="icon">
          <img class="vector-icon4" alt="" src="assets/images/shake-faq.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ.QUESTIONS.4.QUESTION' | translate }}</b>
        <div class="simply-enter-your">{{ 'FAQ.QUESTIONS.4.ANSWER' | translate }}</div>
      </div>
      <div class="question-card">
        <div class="icon">
          <img class="vector-icon5" alt="" src="assets/images/card-faq.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ.QUESTIONS.5.QUESTION' | translate }}</b>
        <div class="simply-enter-your">{{ 'FAQ.QUESTIONS.5.ANSWER' | translate }}</div>
      </div>
    </div>
    <div class="trip-card">
      <div class="heading1">
        <div class="avatars">
          <img class="user-icon" alt="" src="assets/images/User1.png" />
          <img class="user-icon1" alt="" src="assets/images/User2.png" />
          <img class="user-icon2" alt="" src="assets/images/User3.png" />
        </div>
        <div class="content2">
          <b class="how-do-i">{{ 'FAQ.CHAT_TITLE' | translate }}</b>
          <div class="if-you-still">{{ 'FAQ.CHAT_DESC' | translate }}</div>
        </div>
      </div>
      <div class="ctaprimary">
        <a routerLink="/contacts" class="contact-us">{{ 'FAQ.CONTACT_US' | translate }}</a>
        <div class="icon6">
          <img class="vector-icon6" alt="" src="assets/images/lettre.png" />
        </div>
      </div>
    </div>
  </div>
</div>
