<div class="hero">
  <div class="heading">
    <b class="redefining-booking-containers-container">
      <p class="redefining">{{ 'ABOUT_US.REDEFINING' | translate }}</p>
      <p class="redefining">{{ 'ABOUT_US.BOOKING_CONTAINERS' | translate }}</p>
    </b>
    <div class="at-booking-container-container">
      <p class="redefining">{{ 'ABOUT_US.COMMITTED_TEXT1' | translate }}</p>
      <p class="redefining">&nbsp;</p>
      <p class="redefining">{{ 'ABOUT_US.COMMITTED_TEXT2' | translate }}</p>
    </div>
  </div>
</div>

<app-hero-about-us></app-hero-about-us>
<app-maps-about-us></app-maps-about-us>
<app-news></app-news>
<app-faq></app-faq>
