<!-- start page content wrapper-->
<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">
    <br />

    <div class="row row-cols-1 row-cols-md-4">
      <div class="col">
        <div class="card radius-10">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="mb-1 text-success">Total Schedule</p>
                <h4 class="mb-0 text-success">{{ totalSchedule }}</h4>
              </div>
              <div class="ms-auto text-primary fs-2">
                <ion-icon name="bag-handle-sharp"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-10">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="mb-1 text-primary">Total Comparison</p>
                <h4 class="mb-0 text-primary">{{ totalComparisons }}</h4>
              </div>
              <div class="ms-auto text-danger fs-2">
                <ion-icon name="pie-chart-sharp"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-10">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="mb-1 text-danger">Score Schedule</p>
                <h4 class="mb-0 text-danger">{{ scoreSchedules }}%</h4>
              </div>
              <div class="ms-auto text-success fs-2">
                <ion-icon name="wallet-sharp"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card radius-10">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="">
                <p class="mb-1 text-warning">Score Comparison</p>
                <h4 class="mb-0 text-warning">{{ scoreComparisons }}%</h4>
              </div>
              <div class="ms-auto widget-icon bg-light-primary text-primary">
                <ion-icon name="notifications-sharp"></ion-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
    <div class="row">
      <!-- Weekly Schedule Chart -->
      <div class="col-12 col-lg-6 d-flex">
        <div class="card radius-10 w-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <h6 class="mb-0">Schedules Hebdomadaires</h6>
              <div class="ms-auto"></div>
            </div>
            <canvasjs-chart [options]="chartOptionsWeeklySchedule" height="250" width="400"></canvasjs-chart>
          </div>
        </div>
      </div>

      <!-- Weekly Comparison Chart -->
      <div class="col-12 col-lg-6 d-flex">
        <div class="card radius-10 w-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <h6 class="mb-0">Comparaisons Hebdomadaires</h6>
              <div class="ms-auto"></div>
            </div>
            <canvasjs-chart [options]="chartOptionsWeeklyComparison" height="250" width="400"></canvasjs-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Weekly Schedule Chart -->
      <div class="col-12 col-lg-6 d-flex">
        <div class="card radius-10 w-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <h6 class="mb-0">Schedules Hebdomadaires par Companies</h6>
              <div class="ms-auto"></div>
            </div>
            <canvasjs-chart [options]="chartOptionsWeeklyScheduleByCompany" height="250" width="400"></canvasjs-chart>
          </div>
        </div>
      </div>

      <!-- Weekly Comparison Chart -->
      <div class="col-12 col-lg-6 d-flex">
        <div class="card radius-10 w-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <h6 class="mb-0">Comparaisons Hebdomadaires par Companies</h6>
              <div class="ms-auto"></div>
            </div>
            <canvasjs-chart [options]="chartOptionsWeeklyComparisonByCompany" height="250" width="400"></canvasjs-chart>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->

    <div class="row">
      <!-- Weekly Schedule Chart -->
      <div class="col-12 col-lg-6 d-flex">
        <div class="card radius-10 w-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <h6 class="mb-0">Schedules Journalier par Utilisateur</h6>
              <div class="ms-auto"></div>
            </div>
            <canvasjs-chart [options]="chartOptionsDailylyScheduleByUser" height="250" width="400"></canvasjs-chart>
          </div>
        </div>
      </div>

      <!-- Weekly Comparison Chart -->
      <div class="col-12 col-lg-6 d-flex">
        <div class="card radius-10 w-100">
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <h6 class="mb-0">Comparaisons Journalier par Utilisateur</h6>
              <div class="ms-auto"></div>
            </div>
            <canvasjs-chart [options]="chartOptionsDailyComparisonByUser" height="250" width="400"></canvasjs-chart>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
  <!-- end page content-->
</div>
<!--end page content wrapper-->