<div class="news">
  <div class="content">
    <div class="heading">
      <div class="blog">{{ "NEWS.TITLE" | translate }}</div>
      <b class="recent-news-in">{{ "NEWS.SUBTITLE" | translate }}</b>
    </div>
    <div class="content1">
      <div class="question-card">
        <img class="image-icon" alt="" src="assets/images/news1.png" />

        <div class="heading">
          <div class="eyebrow">
            <div class="industry-insights">Industry insights</div>
            <div class="separator"></div>
            <div class="minutes-ago">10 minutes ago</div>
          </div>
          <b class="global-shipping-trends">Global shipping trends for 2025</b>
        </div>
        <div class="stay-ahead-with">
          Stay ahead with key insights into upcoming logistics trends. Discover
          how new technologies are shaping global trade.
        </div>
        <div class="footer">
          <div class="ctaprimary">
            <a style="cursor: pointer" class="read-full-article">{{
              "NEWS.READ_FULL_ARTICLE" | translate
            }}</a>
            <div class="icon">
              <img
                class="vector-icon"
                alt=""
                src="assets/images/arrow-straight-right.png"
              />
            </div>
          </div>
          <div class="min-read">3 min read</div>
        </div>
      </div>
      <div class="question-card">
        <img class="image-icon" alt="" src="assets/images/news2.png" />

        <div class="heading">
          <div class="eyebrow">
            <div class="industry-insights">Cost optimization</div>
            <div class="separator"></div>
            <div class="minutes-ago">11 may 2025</div>
          </div>
          <b class="global-shipping-trends"
            >How to reduce your shipping costs</b
          >
        </div>
        <div class="stay-ahead-with">
          Explore proven strategies to cut freight expenses efficiently. From
          smart route planning to bulk booking, learn more.
        </div>
        <div class="footer">
          <div class="ctaprimary">
            <a style="cursor: pointer" class="read-full-article">{{
              "NEWS.READ_FULL_ARTICLE" | translate
            }}</a>
            <div class="icon">
              <img
                class="vector-icon"
                alt=""
                src="assets/images/arrow-straight-right.png"
              />
            </div>
          </div>
          <div class="min-read">5 min read</div>
        </div>
      </div>
      <div class="question-card">
        <img class="image-icon" alt="" src="assets/images/news3.png" />

        <div class="heading">
          <div class="eyebrow">
            <div class="industry-insights">Technological</div>
            <div class="separator"></div>
            <div class="minutes-ago">08 may 2025</div>
          </div>
          <b class="global-shipping-trends"
            >The Rise of real-time cargo tracking</b
          >
        </div>
        <div class="stay-ahead-with">
          Understand why real-time visibility is a game changer. Improve
          customer satisfaction with advanced tracking tools.
        </div>
        <div class="footer">
          <div class="ctaprimary">
            <a style="cursor: pointer" class="read-full-article">{{
              "NEWS.READ_FULL_ARTICLE" | translate
            }}</a>
            <div class="icon">
              <img
                class="vector-icon"
                alt=""
                src="assets/images/arrow-straight-right.png"
              />
            </div>
          </div>
          <div class="min-read">4 min read</div>
        </div>
      </div>
    </div>
    <div class="ctaprimary3">
      <a style="cursor: pointer" class="read-full-article">{{
        "NEWS.VIEW_MORE" | translate
      }}</a>
      <div class="icon">
        <img
          class="vector-icon"
          alt=""
          src="assets/images/arrow-straight-right.png"
        />
      </div>
    </div>
  </div>
</div>
