<!-- start page content wrapper-->
<div class="page-content-wrapper">
    <!-- start page content-->
    <div class="page-content">
      <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">AJOUTER TRANSPORTATION</div>
      </div>
      <hr />
  
      <div class="row">
        <div class="col-xl-12 mx-auto">
          <div class="card">
            <div class="card-body">
              <div class="p-4 border rounded">
                <form
                  class="row g-3 needs-validation"
                  [formGroup]="form"
                  (ngSubmit)="submit()"
                >
                  <div class="col-md-8">
                    <label for="validationCustom01" class="form-label"
                      >Désignation <span style="color: red">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control form-control-rounded"
                      id="transportationName"
                      placeholder="Entrez votre Container type"
                      name="transportationName"
                      required
                      formControlName="transportationName"
                    /><!-- error -->
                    <div
                      class="text-danger"
                      *ngIf="submitted && f['transportationName'].errors?.['required']"
                    >
                    Transportation obligatoire!
                    </div>
                    <div
                      class="text-danger"
                      *ngIf="f['transportationName'].invalid && f['transportationName'].errors?.['pattern']"
                    >
                    Transportation non valide Example(LB 20).
                    </div>
                    <!-- fin error -->
                  </div>
                  <div class="col-md-8">
                    <label for="obs" class="form-label">Observation</label>
                    <textarea
                      class="form-control form-control-rounded"
                      id="obs"
                      placeholder="Entrez votre Observation"
                      name="obs"
                      formControlName="obs"
                    ></textarea>
                    <!-- error -->
                    <div
                      class="text-danger"
                      *ngIf="f['obs'].invalid && f['obs'].errors?.['pattern']"
                    >
                      Observation non valide.
                    </div>
                    <!-- fin error -->
                  </div>
                  <div class="col-12" style="text-align: center">
                    <br /><button class="btn btn-info" [disabled]="form.invalid">
                      ENREGISTRER
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end row-->
    </div>
    <!-- end page content-->
  </div>
  <!--********************************** this for loading show ***********************************-->
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#fff"
    type="ball-scale-multiple"
  >
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  