<div class="price-comparaison">
  <div class="content">
    <div class="header">
      <b class="full-list-of">{{ 'PRICE_COMPARE_DETAIL.TITLE' | translate }}</b>
      <div class="see-the-full">
        {{ 'PRICE_COMPARE_DETAIL.DESCRIPTION' | translate }}
      </div>
    </div>
    <div class="table">
      <div class="header1">
        <div class="feature">
          <div class="menu-item">
            <b class="free-plan">{{ 'PRICE_COMPARE_DETAIL.PLANS.FREE' | translate }}</b>
          </div>
          <div class="menu-item">
            <b class="free-plan">{{ 'PRICE_COMPARE_DETAIL.PLANS.BASIC' | translate }}</b>
          </div>
          <div class="menu-item">
            <b class="free-plan">{{ 'PRICE_COMPARE_DETAIL.PLANS.PREMIUM' | translate }}</b>
          </div>
          <div class="menu-item1">
            <b class="free-plan">{{ 'PRICE_COMPARE_DETAIL.PLANS.EXCLUSIVE' | translate }}</b>
          </div>
        </div>
        <div class="pricing">
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.PRICES.FREE' | translate }}</div>
          </div>
          <div class="menu-item2">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.PRICES.BASIC' | translate }}</div>
          </div>
          <div class="menu-item2">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.PRICES.PREMIUM' | translate }}</div>
          </div>
          <div class="menu-item3">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.PRICES.EXCLUSIVE' | translate }}</div>
          </div>
        </div>
      </div>
      <div class="features">
        <!-- Users -->
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ 'PRICE_COMPARE_DETAIL.FEATURES.USERS.TITLE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.USERS.FREE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.USERS.BASIC' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.USERS.PREMIUM' | translate }}</div>
          </div>
          <div class="menu-item6">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.USERS.EXCLUSIVE' | translate }}</div>
          </div>
        </div>

        <!-- Schedules -->
        <div class="feature1">
          <div class="menu-item7">
            <div class="browse-the-global">{{ 'PRICE_COMPARE_DETAIL.FEATURES.SCHEDULES.TITLE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.SCHEDULES.FREE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.SCHEDULES.BASIC' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.SCHEDULES.PREMIUM' | translate }}</div>
          </div>
          <div class="menu-item6">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.SCHEDULES.EXCLUSIVE' | translate }}</div>
          </div>
        </div>

        <!-- Rate Pricing -->
        <div class="feature1">
          <div class="menu-item7">
            <div class="browse-the-global">{{ 'PRICE_COMPARE_DETAIL.FEATURES.RATE_PRICING.TITLE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.RATE_PRICING.FREE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.RATE_PRICING.BASIC' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.RATE_PRICING.PREMIUM' | translate }}</div>
          </div>
          <div class="menu-item6">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.RATE_PRICING.EXCLUSIVE' | translate }}</div>
          </div>
        </div>

        <!-- Carrier Name Comparison -->
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ 'PRICE_COMPARE_DETAIL.FEATURES.CARRIER_NAME.TITLE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/delete-pack.png" />
              </div>
            </div>
          </div>
          <div class="menu-item4">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
          <div class="menu-item4">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
          <div class="menu-item6">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
        </div>

        <!-- Quote Requests -->
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ 'PRICE_COMPARE_DETAIL.FEATURES.QUOTE_REQUESTS.TITLE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.QUOTE_REQUESTS.FREE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.QUOTE_REQUESTS.BASIC' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.QUOTE_REQUESTS.PREMIUM' | translate }}</div>
          </div>
          <div class="menu-item6">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.QUOTE_REQUESTS.EXCLUSIVE' | translate }}</div>
          </div>
        </div>

        <!-- Priority Quote Processing -->
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ 'PRICE_COMPARE_DETAIL.FEATURES.PRIORITY_QUOTE.TITLE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="menu-item4">
              <div class="icon2">
                <div class="tailing-icon">
                  <img class="vector-icon2" alt="" src="assets/images/delete-pack.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item4">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
          <div class="menu-item4">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
          <div class="menu-item6">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
        </div>

        <!-- Route Details -->
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ 'PRICE_COMPARE_DETAIL.FEATURES.ROUTE_DETAILS.TITLE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.ROUTE_DETAILS.FREE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.ROUTE_DETAILS.BASIC' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.ROUTE_DETAILS.PREMIUM' | translate }}</div>
          </div>
          <div class="menu-item6">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.ROUTE_DETAILS.EXCLUSIVE' | translate }}</div>
          </div>
        </div>

        <!-- Discounts & Savings -->
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ 'PRICE_COMPARE_DETAIL.FEATURES.DISCOUNTS.TITLE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="menu-item4">
              <div class="icon2">
                <div class="tailing-icon">
                  <img class="vector-icon2" alt="" src="assets/images/delete-pack.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item4">
            <div class="menu-item4">
              <div class="icon2">
                <div class="tailing-icon">
                  <img class="vector-icon2" alt="" src="assets/images/delete-pack.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.DISCOUNTS.PREMIUM' | translate }}</div>
          </div>
          <div class="menu-item6">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.DISCOUNTS.EXCLUSIVE' | translate }}</div>
          </div>
        </div>

        <!-- Customer Support -->
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ 'PRICE_COMPARE_DETAIL.FEATURES.SUPPORT.TITLE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.SUPPORT.FREE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.SUPPORT.BASIC' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.SUPPORT.PREMIUM' | translate }}</div>
          </div>
          <div class="menu-item6">
            <div class="free-month">{{ 'PRICE_COMPARE_DETAIL.FEATURES.SUPPORT.EXCLUSIVE' | translate }}</div>
          </div>
        </div>

        <!-- Dedicated Expert Access -->
        <div class="feature">
          <div class="menu-item4">
            <div class="browse-the-global">{{ 'PRICE_COMPARE_DETAIL.FEATURES.EXPERT.TITLE' | translate }}</div>
          </div>
          <div class="menu-item4">
            <div class="menu-item4">
              <div class="icon2">
                <div class="tailing-icon">
                  <img class="vector-icon2" alt="" src="assets/images/delete-pack.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item4">
            <div class="menu-item4">
              <div class="icon2">
                <div class="tailing-icon">
                  <img class="vector-icon2" alt="" src="assets/images/delete-pack.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item4">
            <div class="menu-item4">
              <div class="icon2">
                <div class="tailing-icon">
                  <img class="vector-icon2" alt="" src="assets/images/delete-pack.png" />
                </div>
              </div>
            </div>
          </div>
          <div class="menu-item6">
            <div class="icon2">
              <div class="tailing-icon">
                <img class="vector-icon2" alt="" src="assets/images/check-price.png" />
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
