<div class="user-profile" [class.active]="isDropdownOpen" (click)="toggleDropdown($event)"
  (keydown)="onKeyToggle($event)">

  <div class="profile-summary">
    <img class="profile-picture-icon" alt="" src="assets/images/Profile-picture.png" />
    @if (currentUser$ | async; as user) {
      <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
    }@else{
      <div class="user-name">Guest</div>
    }
    <div class="tailing-icon">
      <img class="vector-icon" alt="" src="assets/images/seclect-down.png" />
    </div>
  </div>

  <div class="profile-dropdown" *ngIf="isDropdownOpen">
    <div class="content">
      @if (currentUser$ | async; as user) {
        <div class="header">
          <div class="name-type">
            <div class="user-name">{{ user.firstName }} {{ user.lastName }}</div>
            <div class="info">
              <div class="shipper">Shipper</div>
            </div>
          </div>
          <div class="user-email">{{ user.email }}</div>
        </div>
      } @else{
        <div class="header">
          <div class="name-type">
            <div class="user-name">Guest</div>
            <div class="info">
              <div class="shipper">Shipper</div>
            </div>
          </div>
          <div class="user-email">...</div>
        </div>
      }
      <div class="separator"></div>

      <div class="profil-menu-item" (click)="handleMenuItemClick('profiles')"
        (keydown)="onKeyMenuItem($event, 'profiles')">
        <div class="text-placeholder">
          {{ 'PROFILE.PROFILE_PROFILE' | translate }}
        </div>
        <div class="tailing-icon">
          <img class="vector-icon" alt="" src="assets/images/user-orange.png" />
        </div>
      </div>
      <div class="separator"></div>

      <div class="content1">
        <div class="profil-menu-item" (click)="handleMenuItemClick('whishlist-booking')"
          (keydown)="onKeyMenuItem($event, 'whishlist-booking')">
          <div class="text-placeholder">
            {{ 'PROFILE.PRE_BOOKINGS' | translate }}
          </div>
          <div class="tailing-icon">
            <img class="vector-icon" alt="" src="assets/images/heart-orange.png" />
          </div>
        </div>
        <div class="profil-menu-item" (click)="handleMenuItemClick('quote-lists')"
          (keydown)="onKeyMenuItem($event, 'quote-lists')">
          <div class="text-placeholder">
            {{ 'PROFILE.QUOTES' | translate }}
          </div>
          <div class="tailing-icon">
            <img class="vector-icon" alt="" src="assets/images/wallet.png" />
          </div>
        </div>
        <div class="profil-menu-item" (click)="handleMenuItemClick('manage-script')"
          (keydown)="onKeyMenuItem($event, 'manage-script')">
          <div class="text-placeholder">
            {{ 'PROFILE.MANAGE_SUBSCRIPTION' | translate }}
          </div>
          <div class="tailing-icon">
            <img class="vector-icon" alt="" src="assets/images/file-input.png" />
          </div>
        </div>
      </div>
      <div class="separator"></div>

      <div class="profil-menu-item" (click)="handleMenuItemClick('help-centers')"
        (keydown)="onKeyMenuItem($event, 'help-centers')">
        <div class="text-placeholder">
          {{ 'PROFILE.SUPPORT_CENTER' | translate }}
        </div>
        <div class="tailing-icon">
          <img class="vector-icon" alt="" src="assets/images/Popup-info.png" />
        </div>
      </div>
      <div class="separator"></div>

      <div style="background-color: #fef2f2;" class="profil-menu-item" (click)="handleMenuItemClick('logout')"
        (keydown)="onKeyMenuItem($event, 'logout')">
        <div class="text-placeholder" style="color: #ef4444">
          {{ 'PROFILE.LOGOUT' | translate }}
        </div>
        <div class="tailing-icon">
          <img class="vector-icon" alt="" src="assets/images/logout.png" />
        </div>
      </div>
    </div>
  </div>
</div>