<!-- start page content wrapper-->
<div class="page-content-wrapper">
  <!-- start page content-->
  <div class="page-content">
    <div class="page-breadcrumb d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">Modifier Mot de Passe</div>
    </div>
    <hr />

    <div class="row">
      <div class="col-xl-12 mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="p-4 border rounded">
              <form
                class="row g-3 needs-validation"
                [formGroup]="form"
                (ngSubmit)="submit()"
              >
                <div class="row">
                  <div class="col-md-8 form-group mb-3">
                    <label for="oldPassword"
                      >Ancien mot de passe.
                      <span style="color: red">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control form-control-rounded"
                      id="oldPassword"
                      placeholder="Entrez votre Nouveau Mot de passe"
                      name="oldPassword"
                      required
                      formControlName="oldPassword"
                    />
                    <!-- error -->
                    <div
                      class="text-danger"
                      *ngIf="submitted && f['oldPassword'].errors?.['required']"
                    >
                      Ancien Mot de passe est obligatoire!
                    </div>
                    <div
                      class="text-danger"
                      *ngIf="f['oldPassword'].invalid && f['oldPassword'].errors?.['pattern']"
                    >
                      Le mot de passe doit contenir entre 8 et 25 caractères,
                      incluant au moins une lettre majuscule, une lettre
                      minuscule, un chiffre et un caractère spécial
                      Example(Ab12345&#64;).
                    </div>
                  </div>
                  <div class="col-md-8 form-group mb-3">
                    <label for="newPassword"
                      >Nouveau Mot de Passe
                      <span style="color: red">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control form-control-rounded"
                      id="newPassword"
                      placeholder="Entrez votre Nouveau Mot de passe"
                      name="newPassword"
                      required
                      formControlName="newPassword"
                    />
                    <!-- error -->
                    <div
                      class="text-danger"
                      *ngIf="submitted && f['newPassword'].errors?.['required']"
                    >
                      Nouveau Mot de passe est obligatoire!
                    </div>
                    <div
                      class="text-danger"
                      *ngIf="f['newPassword'].invalid && f['newPassword'].errors?.['pattern']"
                    >
                      Le mot de passe doit contenir entre 8 et 25 caractères,
                      incluant au moins une lettre majuscule, une lettre
                      minuscule, un chiffre et un caractère spécial
                      Example(Ab12345&#64;).
                    </div>
                  </div>
                  <div class="col-md-8 form-group mb-3">
                    <label for="confirmPassword"
                      >Confirmation Mot de Passe
                      <span style="color: red">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control form-control-rounded"
                      id="confirmPassword"
                      placeholder="Entrez votre Confirmation Mot de passe"
                      name="confirmPassword"
                      required
                      formControlName="confirmPassword"
                    />
                    <!-- error -->
                    <div
                      class="text-danger"
                      *ngIf="submitted && f['confirmPassword'].errors?.['required']"
                    >
                      Confirmation Mot de passe est obligatoire!
                    </div>
                    <div
                      class="text-danger"
                      *ngIf="f['confirmPassword'].invalid && f['confirmPassword'].errors?.['pattern']"
                    >
                      Le mot de passe doit contenir entre 8 et 25 caractères,
                      incluant au moins une lettre majuscule, une lettre
                      minuscule, un chiffre et un caractère spécial
                      Example(Ab12345&#64;).
                    </div>
                  </div>
                  <div class="col-md-12" style="text-align: center">
                    <br /><button
                      class="btn btn-info"
                      [disabled]="form.invalid"
                    >
                      ENREGISTRER
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
  <!-- end page content-->
</div>
<!--********************************** this for loading show ***********************************-->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
