.vector-icon {
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top: 20.83%;
  	right: 21.04%;
  	bottom: 21.04%;
  	left: 20.84%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.icon {
  	width: 20px;
  	position: relative;
  	height: 20px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.back {
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 18px;
  	font-weight: 500;
}
.ctasecondary {
  	border-radius: 4px;
  	background-color: #eef2fb;
  	border: 1px solid #d6e0f8;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	gap: 8px;
}
.my-profile {
  	position: relative;
  	font-size: 20px;
  	letter-spacing: -0.2px;
  	line-height: 24px;
  	font-weight: 500;
  	color: #05256e;
  	display: inline-block;
  	max-width: 1440px;
}
.header {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
  	z-index: 0;
}
.profile-picture-icon {
  	width: 160px;
  	position: relative;
  	border-radius: 4px;
  	max-height: 100%;
  	overflow: hidden;
  	object-fit: cover;
}
.vector-icon1 {
  	position: absolute;
  	height: 66.88%;
  	width: 83.13%;
  	top: 16.67%;
  	right: 8.54%;
  	bottom: 16.46%;
  	left: 8.33%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.text-placeholder {
  	position: relative;
  	letter-spacing: -0.16px;
  	line-height: 17px;
  	font-weight: 500;
}
.button {
  	border-radius: 4px;
  	background-color: #ffeedf;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 4px 8px;
  	gap: 8px;
}
.image {
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 12px;
}
.input-title {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
}
.header1 {
  	width: 300px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
}
.casablanca-portma {
  	flex: 1;
  	position: relative;
  	letter-spacing: -0.16px;
  	line-height: 24px;
	border: none;
	cursor: pointer;
}
.text-field {
  	align-self: stretch;
  	background-color: #fff;
  	border-bottom: 1px solid #d6e0f8;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 8px;
}
.input-field {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
  	min-width: 510px;
}
.text-field2 {
  	align-self: stretch;
  	background-color: #fff;
  	border-bottom: 1px solid #d6e0f8;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 8px;
  	gap: 8px;
}
.vector-icon3 {
  	position: absolute;
  	height: 83.13%;
  	width: 83.13%;
  	top: 8.33%;
  	right: 8.08%;
  	bottom: 8.54%;
  	left: 8.8%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.vector-icon4 {
  	position: absolute;
  	height: 90%;
  	width: 90%;
  	top: 20.84%;
  	right: 8.54%;
  	bottom: 21.04%;
  	left: 8.33%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.profile-information {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 12px;
  	color: #03133d;
}
.content1 {
  	width: 100%;
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 24px;
  	max-width: 1440px;
  	z-index: 1;
  	color: #ff6600;
}
.vector-icon5 {
  	position: absolute;
  	height: 75%;
  	width: 75%;
  	top: 12.5%;
  	right: 12.5%;
  	bottom: 12.5%;
  	left: 12.5%;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
}
.button1 {
  	border-radius: 4px;
  	background-color: #fff;
  	border: 1px solid #d6e0f8;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	gap: 8px;
}
.button2 {
  	border-radius: 4px;
  	background-color: #0739a4;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 12px;
  	gap: 8px;
  	color: #fff;
}
.footer {
  	width: 100%;
  	margin: 0 !important;
  	position: absolute;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	background-color: #fff;
  	border-bottom: 1px solid #eef2fb;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-end;
  	padding: 12px 32px;
  	gap: 12px;
  	z-index: 2;
}
.content {
  	width: 100%;
  	position: relative;
  	background-color: #fafbfd;
  	border-bottom: 1px solid rgba(7, 57, 164, 0.08);
  	box-sizing: border-box;
  	height: 768px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 24px 32px;
  	gap: 16px;
  	min-height: 768px;
  	text-align: left;
  	font-size: 14px;
  	color: #0739a4;
  	font-family: 'Helvetica Neue', sans-serif;
}

