<div class="hero">
  <div class="heading">
    <div class="title">
      <b class="b">Truck & Flight</b>
      <b class="page-not-found">Coming Soon</b>
    </div>
    <div class="the-page-you">
      Our Truck and Air Freight services are currently being prepared. We're
      working hard to bring you reliable overland and air logistics options to
      complement our maritime solutions.
    </div>
    <div class="ctaprimary" id="cTAPrimaryContainer">
      <div class="icon">
        <img class="vector-icon" alt="" src="assets/images/arrow-left-nn.png" />
      </div>
      <div class="go-home">Go Back</div>
    </div>
  </div>
</div>
<app-faq></app-faq>
