<div class="footer">
  <div class="content">
    <div class="content1">
      <div class="row">
        <div class="logo">
          <img class="glyph-icon" alt="" src="assets/images/Logo-white.png" />
          <img class="text-icon" alt="" src="assets/images/Text-logo-white.png" />
        </div>
        <div class="booking-container-is-a-container">
          <p class="booking-container-is-a">
            {{ 'FOOTER.DESCRIPTION1' | translate }}
          </p>
          <p class="booking-container-is-a">&nbsp;</p>
          <p class="booking-container-is-a">
            {{ 'FOOTER.DESCRIPTION2' | translate }}
          </p>
        </div>
        <div class="contact-info">
          <div class="phone-number">
            <div class="email">{{ 'FOOTER.PHONE' | translate }}</div>
            <div class="content2">
              <div class="div">+212 537-877729</div>
              <div class="div">+212 678-134302</div>
            </div>
          </div>
          <div class="phone-number">
            <div class="email">{{ 'FOOTER.EMAIL' | translate }}</div>
            <div class="content3">
              <div class="div">contact&#64;booking-container.com</div>
            </div>
          </div>
        </div>
      </div>
      <div class="quick-links">
        <div class="email">{{ 'FOOTER.QUICK_LINKS' | translate }}</div>
        <div class="content4">
          <div class="div"><a href="https://marketplace.booking-container.com" class="contact-us">{{ 'FOOTER.LINKS.MARKETPLACE' | translate }}</a></div>
          <div class="div"><a routerLink="/prices" class="contact-us">{{ 'FOOTER.LINKS.PRICING' | translate }}</a></div>
          <div class="div"><a routerLink="/about-us" class="contact-us">{{ 'FOOTER.LINKS.ABOUT_US' | translate }}</a></div>
          <div class="div"><a routerLink="/faq-general" class="contact-us">{{ 'FOOTER.LINKS.FAQ' | translate }}</a></div>
          <div class="div"><a routerLink="/contact-us" class="contact-us">{{ 'FOOTER.LINKS.CONTACT_US' | translate }}</a></div>
        </div>
      </div>
      <div class="quick-links">
        <div class="email">{{ 'FOOTER.SOCIAL' | translate }}</div>
        <div class="content4">
          <div class="div"><a href="https://www.facebook.com/people/Booking-Container/61567329125307/" class="contact-us">Facebook</a></div>
          <div class="div"><a href="https://www.instagram.com/booking.container/" class="contact-us">Instagram</a></div>
          <div class="div"><a href="https://www.linkedin.com/company/booking-container/" class="contact-us">LinkedIn</a></div>
        </div>
      </div>
      <div class="quick-links">
        <div class="email">{{ 'FOOTER.LEGALS' | translate }}</div>
        <div class="content4">
          <div class="div"><a routerLink="/terms-services" class="contact-us">{{ 'FOOTER.LEGAL.TERMS' | translate }}</a></div>
          <div class="div"><a routerLink="/privacy-policies" class="contact-us">{{ 'FOOTER.LEGAL.PRIVACY' | translate }}</a></div>
          <div class="div"><a routerLink="/payment-conditions" class="contact-us">{{ 'FOOTER.LEGAL.PAYMENT' | translate }}</a></div>
          <div class="div"><a routerLink="/cancellation-conditions" class="contact-us">{{ 'FOOTER.LEGAL.CANCELLATION' | translate }}</a></div>
          <div class="div"><a routerLink="/conditions-dispute" class="contact-us">{{ 'FOOTER.LEGAL.DISPUTE' | translate }}</a></div>
        </div>
      </div>
    </div>
    <div class="separator"></div>
    <div class="footer1">
      <div class="email">{{ 'FOOTER.COPYRIGHT' | translate }}</div>
      <div class="this-website-is-3d-secure-parent">
        <div class="email">{{ 'FOOTER.SECURE' | translate }}</div>
        <img class="payzone-logo-icon" alt="" src="assets/images/Payzone.png" />
        <img class="cmi-payment-request-logo" alt="" src="assets/images/CMI-Payment.png" />
        <img class="mastercard-logo-icon" alt="" src="assets/images/Mastercard.png" />
        <img class="verified-by-visa-seeklogo-icon" alt="" src="assets/images/verified-by-visa-seek.png" />
        <img class="mastercard-securecode-logo" alt="" src="assets/images/MasterCard-SecureCode.png" />
      </div>
    </div>
  </div>
</div>
