<div class="faq">
  <div class="content">
    <div class="heading">
      <div class="faq1">{{ 'FAQ_PRICE.TITLE' | translate }}</div>
      <b class="we-answered-the">{{ 'FAQ_PRICE.SUBTITLE' | translate }}</b>
    </div>
    <div class="content1">
      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/faq-5.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ_PRICE.QUESTIONS.PAY.TITLE' | translate }}</b>
        <div class="simply-enter-your">
          {{ 'FAQ_PRICE.QUESTIONS.PAY.TEXT' | translate }}
        </div>
      </div>

      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/faq-2.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ_PRICE.QUESTIONS.UPGRADE.TITLE' | translate }}</b>
        <div class="simply-enter-your">
          {{ 'FAQ_PRICE.QUESTIONS.UPGRADE.TEXT' | translate }}
        </div>
      </div>

      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/faq-1.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ_PRICE.QUESTIONS.CANCEL.TITLE' | translate }}</b>
        <div class="simply-enter-your">
          {{ 'FAQ_PRICE.QUESTIONS.CANCEL.TEXT' | translate }}
        </div>
      </div>

      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/faq-8.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ_PRICE.QUESTIONS.LIMITS.TITLE' | translate }}</b>
        <div class="simply-enter-your">
          {{ 'FAQ_PRICE.QUESTIONS.LIMITS.TEXT' | translate }}
        </div>
      </div>

      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/faq-6.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ_PRICE.QUESTIONS.TRIAL.TITLE' | translate }}</b>
        <div class="simply-enter-your">
          {{ 'FAQ_PRICE.QUESTIONS.TRIAL.TEXT' | translate }}
        </div>
      </div>

      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/faq-9.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ_PRICE.QUESTIONS.MIN_SUB.TITLE' | translate }}</b>
        <div class="simply-enter-your">
          {{ 'FAQ_PRICE.QUESTIONS.MIN_SUB.TEXT' | translate }}
        </div>
      </div>

      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/faq-3.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ_PRICE.QUESTIONS.ENTERPRISE.TITLE' | translate }}</b>
        <div class="simply-enter-your">
          {{ 'FAQ_PRICE.QUESTIONS.ENTERPRISE.TEXT' | translate }}
        </div>
      </div>

      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/faq-4.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ_PRICE.QUESTIONS.DELETE.TITLE' | translate }}</b>
        <div class="simply-enter-your">
          {{ 'FAQ_PRICE.QUESTIONS.DELETE.TEXT' | translate }}
        </div>
      </div>

      <div class="question-card">
        <div class="icon">
          <img class="vector-icon" alt="" src="assets/images/faq-7.png" />
        </div>
        <b class="how-to-book">{{ 'FAQ_PRICE.QUESTIONS.DIFFERENCES.TITLE' | translate }}</b>
        <div class="simply-enter-your">
          {{ 'FAQ_PRICE.QUESTIONS.DIFFERENCES.TEXT' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
